[2016-10-02 21:21] pyk opened #1 "Rojak v1.0.0"
## Intro

`Rojak v1.0.0` adalah codename untuk MVP yang akan kita deliver ke masyarakat saat masa kampanye dimulai (26 Okt - 31 Okt 2016).
## Timeline

Btw untuk timeline penting nya:

[code]
## Initial Plan

Untuk deliver MVP:
- Kita butuh `rojak-ui-*` deliver juga dari Tim UI
- Tim UI depend ke Tim API untuk API nya
- Tim API depend ke tim Data untuk schema databasenya

Jadi nanti rencananya:
1.

[2016-10-02 23:22] pyk opened #2 "Schema Data"
Schema data akan mengikuti informasi apa yang mau kita simpan. Ini gak fix disini sih, schema data akan berubah-ubah sesuai informasi apa yang mau kita simpan.

Untuk sekarang v0.0 informasi yang kita simpan adalah:
1. Informasi semua pasangan cagub-cawagub
2. Informasi semua media daring di Indonesia
3. Informasi semua berita yang membahas tentang Pilkada DKI Jakarta 2017

Jadi untuk sementara in

[2016-10-02 23:26] pyk opened #3 "Rojak UI Web"
Mas @rromadhoni mungkin bisa memberikan brief disini nanti Rojak UI Web nya seperti apa (Stack, requirement dll).

[2016-10-02 23:31] pyk opened #4 "Rojak API"
Halo mas @fajarmf @bobbypriambodo mungkin bisa memberikan brief/diskusikan disini nanti stack, requirement dll dari Rojak API bagaimana

[2016-10-02 23:32] pyk opened #5 "Rojak Data"
Disini akan dijelaskan gambaran besar apa yang Tim Data bisa kontribusikan untuk Project Rojak.

Mainly kita akan kontribusi ke `rojak-database`, `rojak-pantau` dan `rojak-analyzer`. Feel free untuk fokus ke salah satu atau lebih dari satu.

Hal pertama yang harus kita lakuin adalah menentukan schema database. Hal ini di perlukan agar Tim API bisa membuat mockup API nya, kemudian Tim UI bisa mengg

[2016-10-02 23:33] pyk opened #6 "Rojak Apps"
Mas @vickydasta bisa kasih brief disini nanti android appnya bagaimana, stack, requirement dll

[2016-10-02 23:35] pyk opened #7 "Rojak UI Relawan"
Yo @riordhn bisa kamu brief disini gimana relawan botnya, stack, requirement dll

[2016-10-03 02:24] vck commented on #6
@pyk karena bentuk data nya masih belum nampak, saya belum bisa ngebayangin mau pake apa aja. yang pasti, untuk koneksi ke **rojak-api**, kita make [retrofit](http://square.github.io/retrofit/)

[2016-10-03 02:41] pyk commented on #1
Intro masing-masing tim ada disini:

Untuk Tim UI Web #3
Untuk Tim UI App #6
Untuk Tim UI FB app #7
Untuk Tim API #4
Untuk Tim Data #5

Beberapa issue belum di update, sabar yah 🙇

[2016-10-03 02:48] pyk commented on #6
@vickydasta sep! 🙇

Tim data akan fix schema dulu #2 biar Tim API bisa buat mockup API nya #4

[2016-10-03 03:35] vck commented on #6
@pyk wokay!

[2016-10-03 03:50] billyriantono commented on #6
boleh ikut kontribute di Android nya ? 😄

[2016-10-03 03:54] vck commented on #6
@billyriantono boleh banget mas :smiley:

[2016-10-03 04:32] bobbypriam commented on #4
Kita masih menunggu skema data dari tim data #5. Basically API nanti berperan sebagai proxy komunikasi antara **rojak-ui-**\* dengan **rojak-database**. Beberapa isu yang bisa dibahas mengenai API-nya sebelum datanya ada mungkin adalah how to prevent API abuse (since we're dealing with "sensitive" data :D)
1. **Authentication** (Perlukah? Apakah user dari **rojak-ui-**\* butuh diotentikasi? Apabil

[2016-10-03 06:12] mldyh commented on #4
Hello (Mas) @bobbypriambodo...
sekedar masukan.. Auth kayaknya tetepa dibutuhkan terutama untuk mengidentifikasi App apa saja yang menggunakan API ini.. karena sepertinya yang menggunakan API ini tidak hanya satu App.. ada Web, App (kalau tidak salah ini Android / Ios) dan FB App..

Btw, rencana bahasa yang mau dipakai apa?

[2016-10-03 06:20] bobbypriam commented on #4
Ah, iya, di post di atas maksud dari auth yang tidak perlu adalah otentikasi tiap user. Yang saya tangkap rojak tidak membutuhkan login tiap user (mungkin @pyk bisa klarifikasi?). Identifikasi app bisa dilakukan melalui poin 2 (API key).

Untuk bahasa, saat ini kami masih mempertimbangkan, tapi sepertinya condong ke [Elixir](http://elixir-lang.org/) dengan framework [Phoenix](http://www.phoenixfra

[2016-10-03 06:42] fajarmf commented on #4
Iya dengan menggunakan api token / key, kita bisa tahu identitas client. Untuk bahasa dan framework betul seperti yang disebutkan @bobbypriambodo , kita saat ini condong ke Phoenix. Karena dia cukup performant dan menarik proses developmentnya. Tapi masih tetap terbuka untuk masukan dari teman-teman.

[2016-10-03 07:00] mldyh commented on #4
Ah.. iya sepertinya hanya masalah kebiasaan penggunaan bahasa @bobbypriambodo @fajarmf  .. cheers..
wah saya tidak familiar dengan erlang tapi cukup menarik juga untuk dipelajari..

[2016-10-03 13:40] pyk commented on #4
Yup bener mas 👍

[2016-10-03 14:00] anta40 commented on #6
ikutan nyimak yak...

[2016-10-03 14:11] mychaelgo commented on #6
@vickydasta retrofit berapa ya gan? :)

[2016-10-03 14:15] vck commented on #6
@mychaelgo retrofit 2

[2016-10-03 14:16] mychaelgo commented on #6
@vickydasta ok gan :) noted

[2016-10-03 14:54] famasya commented on #4
Numpang nimbrung ya mas. :D

Kira-kira masih tetep butuh message queue ga ya mas? Saya pikir masih butuh sih dalam skemanya

[2016-10-03 22:35] pyk commented on #4
Untuk initial Schema dari Tim Data udah siap yah #9 (On review)

Cred akses DB nya bisa ask PIC Tim API 🙇

[2016-10-03 23:01] Teofebano19 commented on #5
@pyk : sori banget Bay gw masih noob banget, jadi butuh beberapa penjelasan wkwkwk
1. Stack yang lu maksud itu gimana ya? Digunakan untuk apa sih yang jadi pertanyaan dasarnya
2. Untuk benchmark sendiri, lu udah ada referensi awal? Kalo ada, mau minta papernya biar dapet gambaran dulu sebenernya metode yang sekiranya ada dan cukup jitu

hehehe

[2016-10-03 23:06] Teofebano19 commented on #2
@pyk : punten Bay. Mau nanya untuk tabel kandidat, itu penyimpanan data nama gimana formatnya? Apakah hanya ngikut nama Cagub aja? atau Cagub-Cawagub?

[2016-10-03 23:30] vck commented on #5
@pyk nyimak :smile:

[2016-10-04 01:07] riordhn commented on #7
Okee Bay @pyk, untuk rojak UI relawan ini nanti konsep nya bakal seperti BOT auto comment di facebook. Di mana output yang diharapkan adalah tingkat sentimen dari suatu media dapat diukur dan memberikan berita penyeimbang maupun yang terkait dengan berita yang ada.

Case : Salah satu dari teman fb relawan rojak men-share berita dari suatu media yang mendukung satu pasangan calon. BOT fb yang merup

[2016-10-04 01:44] bobbypriam commented on #4
@famasya Use case untuk message queue apa ya? Saya saat ini tidak kepikiran. Kita harusnya hanya baca data dari database, ga ada message passing... atau ada yang terlewat?

@pyk Thanks!

[2016-10-04 01:50] bobbypriam commented on #2
Thanks!

Questions, though: Apakah semua entity itu perlu dibuatkan endpointnya? How would we want the data to be queried?

[2016-10-04 05:00] pyk commented on #2
@Teofebano19 Untuk sekarang data dummny nya `cagub - cawagub` mas, btw apa perlu di pisah ya cagub sendiri cawagub sendiri?

[2016-10-04 05:02] pyk commented on #2
@bobbypriambodo Nah itu yg kemaren aku mau diskusikan mas. Menurut temen2 UI gimana nih @vickydasta @riordhn @rromadhoni ?

[2016-10-04 05:03] pyk commented on #7
@riordhn thanks yo! keep us updated yah 👍

[2016-10-04 05:04] pyk commented on #6
guys schema versi awal udah ready ya #9, tinggal tunggu mockup dari tim api #4 . Nuhun 🙇

[2016-10-04 05:07] christoga commented on #7
Botnya messenger kan? udah jadi belom?

[2016-10-04 05:07] christoga commented on #7
Saya waktu itu pernah bikin sih bareng temen saya pas di facebook hackathon, https://github.com/star-ters/bot

[2016-10-04 05:09] pyk commented on #5
@Teofebano19 maaf ya mas kemaren belum sempet kasih link ke stack yang aku maksut jadi kurang jelas. Contohnya seperti ini mas kalo yang Sayoeti kemaren  https://gitlab.com/bay/sayoeti-pantau Tenang mas nanti kita bahas lebih detail lagi, step by step yah 👍

Ada mas, rencananya aku pake fasttext. Papernya https://arxiv.org/pdf/1607.04606v1.pdf https://arxiv.org/pdf/1607.01759v2.pdf
Jadi nanti tiap

[2016-10-04 05:25] hidrodixtion commented on #6
Siap bantu kontribusi di Android, atau semisal juga ingin merambah iOS 😁

[2016-10-04 05:36] vck commented on #2
@pyk _to simplified things_, enaknya digabung saja. atau ada yang saya lewatkan?

[2016-10-04 05:37] vck commented on #6
@hidrodixtion _appreciate_ bgt!

[2016-10-04 07:06] riordhn commented on #7
@christoga Thanks banget mas chris.
Sejauh ini masih uji coba juga kok mas

[2016-10-04 07:14] ghost commented on #7
Sama-sama @riordhn
Oh iya, jangan panggil mas :joy:

Masih muda 😂 😂 😂

[2016-10-04 07:25] vck commented on #7
😂😂😂

On Tue, Oct 4, 2016 at 2:14 PM, Andre Christoga notifications@github.com
wrote:

[2016-10-04 07:28] christoga commented on #7
Bro, online messenger lu?

[2016-10-04 07:33] vck commented on #7
telegram

On Tue, Oct 4, 2016 at 2:28 PM, Andre Christoga notifications@github.com
wrote:

[2016-10-04 07:43] christoga commented on #7
Ini kenapa gak gunain GitHub Projects ya? biar lebih gampang

[2016-10-04 09:21] famasya commented on #4
@bobbypriambodo hm... kayanya iya juga mas, gaada message passing, caching aja udah cukup scalable

[2016-10-04 09:34] famasya commented on #7
question mas @riordhn , berita penyeimbangnya itu nanti punya sentimen netral kah?
Lalu penyeimbangnya saran juga dalam konteks yang sama. Ex: penggusuran

[2016-10-04 11:52] pyk commented on #7
@christoga wah kamu yg di FB hackathon kemaren ya? keren2. Boleh tuh messenger botnya 👍

Yup bener, nanti kalo issuenya udah banyak lebih baik pake github projects

[2016-10-04 11:53] pyk commented on #2
@vickydasta maksutnya di gabung kaya gimana?

[2016-10-04 12:06] pyk commented on #4
Dari FE kemungkinan besar nanti requestnya kaya gini:
- List calon pasangan
- List media
- List berita => sort, etc
- Given id pasangan calon, return berita yg mention calon tsb
- Given id pasangan calon & id media, return score tiap sentimen pro/kontra/net
- Given id pasangan calon & id media, return list of berita beserta sentimen nya
- Given id media, return list of berita beserta sentimen nya

[2016-10-04 12:09] pyk commented on #2
Team, regarding https://github.com/pyk/rojak/issues/4#issuecomment-251369566 we need to update the schema.

Updatenya:
1. Relasi `sentiment` dan `candidate` (sentiment ini untuk candidate siapa)
2. Relasi `news` dan `candidate` (satu berita bisa mention banyak candidate)

Will push this on the Schema v0.1

[2016-10-04 12:12] bobbypriam commented on #4
@pyk Baiklah. Kita sedang coba bootstrap projectnya + dokumentasi untuk development. Semoga bisa PR malam ini.

[2016-10-04 13:56] vck commented on #4
@pyk _FE_ itu apa ya?

[2016-10-04 13:59] pyk commented on #4
Front End mas, maksutku semua rojak-ui yg consume rojak-api

On Tuesday, 4 October 2016, Vicky Dasta notifications@github.com wrote:

##

Bayu Aldi Yansyah,
Universitas Airlangga
https://github.com/pyk

[2016-10-04 14:03] vck commented on #4
@pyk woah, front-end toh :smile:

On Tue, Oct 4, 2016 at 8:59 PM, Bayu Aldi Yansyah notifications@github.com
wrote:

[2016-10-04 15:04] pyk opened #10 "[rojak-pantau] Rojak Pantau Architecture"
@imrenagi We need to discuss the architecture of `rojak-pantau` and `rojak-analyzer`.

Kita punya beberapa approach yang mungkin kita bisa pilih. Tapi kita mulai dari tujuannya dulu: Kita pengen scalable, kita pengen bisa run a bunch of `rojak-pantau` dan `rojak-analyzer` dengan mudah.

Untuk approach pertama, yg paling naive kaya gini:
![rojak pantau rojak analyzer arch 1 1](https://cloud.githubu

[2016-10-04 15:12] pyk commented on #10
Oh ya untuk gambarnya bisa diedit di [Fig 1](https://docs.google.com/drawings/d/1bBe-rFAOKWRVCrI9PE1hqRx43CqdrJmNw-S2BfkyesQ/edit?usp=sharing) dan [Fig 2](https://docs.google.com/drawings/d/1XcU7A66UonyVM3UW1b3DaPJ62dLPBc0ih2kq7dj5sKQ/edit?usp=sharing)

[2016-10-04 15:21] imrenagi commented on #10
utk metode 2, data hasil scrappingnya mau disimpen juga @pyk ? Sebenernya emg lebih tahan nomer 2 sih kalau ada apa2. tapi orchestasinya mungkin bakalan lebih ribet.

kalau pakai metode web scrapping sistemnya batch processing gak sih?  jadi kalau seandainya metode 1 si `pantau`nya down, kita tinggal ulang tasknya aja. simplenya gitu.

[2016-10-04 15:25] pyk commented on #1
Update:

Tim data udah deliver schema nya di #9 , sekarang nunggu tim API mockup API nya

[2016-10-04 16:07] bobbypriam commented on #4
Bootstrapping project untuk rojak-api bisa dilihat di PR ini: #12

[2016-10-04 18:27] pyk opened #13 "[rojak-database] Tambah dokumentasi untuk generate data dummy di database"
Dokumentasi untuk setup database [rojak-database/README.md](https://github.com/pyk/rojak/blob/master/rojak-database/README.md) kurang step untuk generate datanya.

Thanks to @bobbypriambodo

[2016-10-04 18:34] pyk opened #14 "[rojak-database] Update schema ke v0.1"
Yang pertama, kita perlu informasi suatu sentiment untuk siapa. Jadi table [`sentiment`](https://github.com/pyk/rojak/blob/master/rojak-database/mysql_tables.sql#L33) kita tambahi foreign key ke candidate. Sama perlu column `score` di tabel news_sentiment, buat nyimpen score probability nya

Yang kedua, kita perlu menyimpan informasi cagub siapa aja yang di mention dalam suatu berita. Jadi kita bi

[2016-10-04 18:37] pyk commented on #10
Iya mas, nanti bisa di gunain lagi, misal untuk diambil topicnya/issue dll.

Setuju mas, waktu deployment nya yg agak ribet.

hmmm jadi kalau pas analyzer fail, proses retrieval datanya stop dong mas?

[2016-10-04 20:03] imrenagi commented on #10
hmmm bentar kok bahasannya jadi analyzer fail? apa gw ada yg skip?

kalau dari diagram itu gw ngartiinnya `analyzer` bakalan jalan kalau ada triger dari `pantau`. Berarti kalau analyzernya yg failed tergantung si `pantau` (dalam kasus ini sbg data fetchernya) maunya gimana. Soalnya datanya kan udah ada di pantau.

[2016-10-05 02:11] anta40 commented on #6
Kira2 ada isu kah kalau sebagian develop pakai Eclipse, sedangkan sebagian yang lain pakai Android Studio?
Android Studio di laptop saya lelet betul huhuhu...

[2016-10-05 02:34] vck commented on #6
ini project kolaborasi pertama saya, sebelumnya belum pernah _nge dev
android_ bareng, apalagi beda IDE.

[2016-10-05 03:23] riordhn commented on #6
Kalau setahu saya ketika beda IDE permasalahan besarnya adalah build tools-nya
Setahu saya android menggunakan build tools gradle dan punya struktur project yang beda dengan eclipse CMIIW @vickydasta @anta40 @pyk
Nuhun🙏🙏

[2016-10-05 06:05] pyk commented on #10
Iya mas datanya sudah ada di pantau, tapi gak bisa di masukin di database. Karena di nomor 1 itu cuman berita yg masuk aja yg ada di database.

Menurutku mending kita pake yg no 2 sih mas, untuk queue nya kita pake ini aja https://nats.io/documentation/concepts/nats-queueing/ (pake yg docker)

Alasan pake no 2 karena kita bisa pantau terus, terus di analisa secara offline. How?

[2016-10-05 06:35] vck commented on #6
@riordhn ya, rite. di [SO](http://stackoverflow.com/questions/17431838/android-studio-project-structure-v-s-eclipse-project-structure) sudah dibahas juga mengenai hal ini

[2016-10-05 08:57] bobbypriam opened #15 "[rojak-api] Setup Dockerfile untuk deployment"
Karena kita ingin menggunakan Docker untuk deployment, butuh dibuat Dockerfile untuk building production image. Dari yang saya baca, ada dua approach untuk melakukan deployment sebuah Phoenix app. Akan dibahas mengenai masing-masing approach, lalu kita akan melihat pros dan cons-nya.
## The basic Phoenix way

Pada dokumentasinya, Phoenix memberikan [arahan mengenai proses deployment sebuah aplikas

[2016-10-05 09:00] bobbypriam opened #16 "[rojak-api] Draft API design"
Requirement dasar dari API bisa dilihat pada [#4 (comment)](https://github.com/pyk/rojak/issues/4#issuecomment-251369566). Issue ini untuk diskusi API design dari rojak-api.

[2016-10-05 09:10] bobbypriam opened #17 "[rojak-api] Buat Phoenix Models berdasarkan Schema Data"
Dengan skema data yang ada pada #2, kita harusnya sudah bisa mulai setup models untuk digunakan dalam aplikasi Phoenix kita. Skema ini masih moving target, tapi beberapa elemen sepertinya (candidates, media, news, sentiment) sudah reasonable untuk di-implement.

Yang perlu diperhatikan: kita tidak perlu berurusan dengan migration. Kita akan menggunakan eksternal database sehingga yang perlu dilaku

[2016-10-05 09:14] bobbypriam commented on #4
Bootstrap project  #12 sudah di-merge, sehingga kita bisa move on ke tasks selanjutnya. Saat ini yang terpikir bisa dilakukan adalah:
1. Setup Dockerfile untuk deployment - Issue: #15
2. Design API endpoints - Issue: #16
3. Membuat Phoenix Model berdasarkan Schema Data - Issue: #17

Untuk tiap-tiap task dapat didiskusikan di issue-nya masing-masing 🛩

[2016-10-05 14:33] linggom commented on #5
@pyk untuk yang fasttext data source nya dari wikipedia juga ?

[2016-10-05 14:47] imrenagi commented on #10
Setuju. offline dulu aja bay.

[2016-10-05 15:02] pyk commented on #5
@linggom maksutnya data training mas?

[2016-10-05 15:05] pyk commented on #10
Woke, sep. Jadi kesimpulannya kita akan pake Architecture no 2 untuk `rojak-queue` kita pake ini https://nats.io/documentation/concepts/nats-queueing/

Thanks mas! 🙇

[2016-10-05 15:05] #10 closed, assigned to nobody

[2016-10-05 15:53] pyk commented on #16
@bobbypriambodo (copas diskusi slack mu di #general):

[code]

Mending yg No 2, soalnya API nya bisa di buat orang luar juga yg pengen pake datanya. Misal messenger bot (https://github.com/pyk/rojak/issues/7#issuecomment-251297005) dll

[2016-10-05 21:54] rrmdn commented on #16
No 2 make sense, no 1 nanti malah banyak yg gak sesuai kalo bikin mockup dulu, lebih susah sync.

[2016-10-05 21:57] fawwaz commented on #5
Belum ada datanya ya ? Ini berarti statusnya nunggu sampe ada yang bisa ngescrape berarti ? @pyk

[2016-10-05 22:06] rrmdn commented on #3
## Stack

Stack berikut menurut saya hampir memenuhi kebutuhan kita untuk UI: scalable, lightweight, predictable, fast rendering.
1. React (UI Library)
2. React Router (Routing library)
3. Redux (State management)
4. UIKit CSS (CSS Framework)

Targetnya build file tidak lebih dari 200KB
Open suggestion

[2016-10-05 22:24] imrenagi commented on #5
@fawwaz belum ada mestinya. Tapi buat skrg, kita mungkin udah bisa mulai bikin scrappernya

[2016-10-05 22:52] vck commented on #16
no 2 :smile:

On Thu, Oct 6, 2016 at 4:54 AM, Rizki Romadhoni notifications@github.com
wrote:

[2016-10-06 01:58] bobbypriam commented on #16
I see, oke berarti kita akan coba rampungin spec-nya dulu ya. Tapi harusnya sih cukup sederhana:

[code]

dsb. Bisa dibikin ad-hoc endpoint juga kalau dibutuhkan.

Kita akan ngasih beberapa query param juga (misalnya `embed`, `sort`, `filter`, `fields`, untuk pagination, dll). Operasinya hanya akan ada `GET`. Sukses atau error akan ditandai dengan HTTP status code (200 success, 4xx/5xx error mungk

[2016-10-06 02:15] pyk commented on #15
@bobbypriambodo setuju dengan yg the elixir way, kita tinggal jalanin binary nya dengan docker image yg lebih kecil size nya

[2016-10-06 02:16] pyk commented on #17
aku akan buat model ini sesuai #18 , ada beberapa generator yg harus di update dulu

[2016-10-06 02:48] pyk commented on #5
@fawwaz belum mas, bener kata @imrenagi. Expect minggu ini udah ada datanya lah buat di labelin. Lagi persiapin dasar semuanya dulu #18 #17 #10

[2016-10-06 05:20] adrianha commented on #3
Untuk CSS frameworkny menggunakan bulma.io gimana mas @rromadhoni ? sepertinya lebih ringan, soalny dia pure only css..

[2016-10-06 06:42] bobbypriam commented on #14
Tabel `sentiment` itu nanti isinya seperti apa ya? Dia ada name, `id` dari kandidat, dan skor, berarti tiap row sentimen akan mewakili:
- Sentimen positif untuk cagub A
- Sentimen negatif untuk cagub A
- Sentimen netral untuk cagub A
- Sentimen positif untuk cagub B
- dst.

atau gimana?

Basically saya agak bingung relasi datanya sih 😄  Ada relasi `news_sentiment` antara `news` dan `sentiment`, ad

[2016-10-06 06:46] pyk commented on #14
Yup bener mas, terus ralat mas untuk `score` nya nanti di table [`news_sentiment`](https://github.com/pyk/rojak/pull/18/files#diff-a0e804fc4abba5e9c2fe63dbc491a0f8R90).

Kasarannya: Jadi nanti tiap news ada seberapa persen dia positif ke cagub A. Bukan "exactly" positif.

`news_sentiment` untuk nyimpen informasi suatu berita punya sentiment apa
`mention` untuk nyimpan informasi suatu berita mentio

[2016-10-06 07:16] bobbypriam commented on #16
Mas @fajarmf mau ambil yang ini? Saya kayaknya mau ngoprek #15 dulu hehe.

[2016-10-06 07:46] anta40 commented on #6
ya wes kalau begitu saya ikut mayoritas mau pakai IDE yg mana deh ☺️

[2016-10-06 08:03] pyk opened #19 "[rojak-analyzer] Training data"
Untuk `rojak-analyer` kita mau tackle this problem:

[code]

Tujuannya udah jelas, untuk bisa capai itu ada beberapa step yang harus kita lakuin:
1. Kumpulin training data (berita beserta label sentimen nya)
2. Buat model menggunakan metode tertentu dan benchmark metodenya menurut beberapa metric seperti akurasi dll

Masalah yang kita mau diskusiin sekarang

Bagaimana mengumpulkan training datanya

[2016-10-06 10:45] pyk commented on #14
Resolved by #18

[2016-10-06 10:45] #14 closed, assigned to nobody

[2016-10-06 11:02] pyk commented on #17
Wah yg rada ribet relasinya sih ini hehe https://hexdocs.pm/ecto/Ecto.Schema.html

Baca2 dulu

[2016-10-06 11:49] pyk commented on #17
@bobbypriambodo btw untuk test modelnya gak bisa lewat docker container, soalnya `Ecto` butuh `mysql(1)` di host untuk running

[code]

Untuk model generatornya udah Oke. Using params `-e "MIX_ENV=test"`also return the same error.

Any ideas?

[2016-10-06 12:41] bobbypriam commented on #17
Hmm, interesting. Tampaknya `mix test` secara default akan selalu melakukan setup test database biarpun sebenernya testnya unit. Naive solution bisa install mysql di `Dockerfile.dev`. I'll look into it.

[2016-10-06 13:06] bobbypriam commented on #17
Oke, jadi alasan kenapa itu terjadi adalah karena perintah `mix test` di-alias untuk ngerun setup database.

File `mix.exs`:

[code]

Ecto komplain ketika perintah `ecto.create` karena ga ada `mysql`. Actually, kita kan ga akan butuh create database dan migrate, apa hapus aja ya alias untuk `"test"` itu? Barusan coba ngehapus alias tersebut, ngejalanin dengan

[code]

dan berhasil.

Ini juga berar

[2016-10-06 17:33] pyk commented on #17
@bobbypriambodo sebenernya tujuanku untuk run test itu untuk make sure model yang di generate udah bener sih (sesuai schema di existing database). Apa ada cara lain ya selain test via `mix test`?

Pernah lihat REPL nya elixir tapi belum nyoba. Apa bisa buat coba-coba modelnya ya? Seperti run query sederhana gitu misalnya untuk make sure definisi modelnya udah tepat

[2016-10-06 17:52] Teofebano19 commented on #19
@pyk : Bay, kalo yang ngumpulin via google spreadsheet itu maksudnya hasil scrap kita copas semua di dalam spreadsheet? Kalo dibikin database dengan format yang sama nanti tinggal import2 gitu gimana? Jadi kita labelling dari sana lebih enak.

[2016-10-07 00:22] bobbypriam commented on #17
Coba klarifikasi dulu ya, ini maksudnya kita sebelumnya udah ngemigrate dan generate data di-database kan ya? Jadi kita punya dummy database yang jalan beserta datanya, kita udah buat modelnya, dan mas mau ngetes apakah modelnya itu sesuai atau ngga?

Kalo gitu, untuk ngetes manual iya bisa pakai REPL.

[code]

^ Itu bakal compile source kita dan ngejalanin IEx (Interactive Elixir). Setelah ada di

[2016-10-07 00:56] bobbypriam commented on #15
Oke, hasil dari main-main dengan opsi pakai release dan Distillery, ada beberapa hal yang harus di-note.
1. <del>Sepertinya saya salah mengerti mengenai metode Elixir/OTP release; executable yang dihasilkan ternyata tetep dependent sama Erlang (which kinda makes sense, karena Erlang berjalan di atas Erlang VM. Jadinya analog dengan gimana kita harus punya Java untuk ngejalanin file .jar). Still fe

[2016-10-07 01:22] fajarmf commented on #16
First draft on #22

[2016-10-07 02:51] santosoide commented on #3
Boleh tuh mas @rromadhoni pakai Material Design Lite

[2016-10-07 07:13] hayyuelha commented on #19
@Teofebano19 labelling di database Te? Bukannya lebih enak kalo labelling di spreadsheet ya...? Aku ngebayanginnya nanti hasil scrape tuh disimpen dalam format csv, jadi kan bisa gampang dibuka di spreadsheet

[2016-10-07 09:34] billyriantono commented on #6
mungkin mas @vickydasta bisa list / share semacam kurang lebih apa saja yang bakal digunakan serta mungkin ada standarisasi untuk variable naming segala macamnya ( code convention ) ?

[2016-10-07 10:24] pyk opened #24 "[rojak-database] Menggunakan UUID sebagai unique ID"
Kita akan menggunakan `uuid` sebagai unique id yg di expose ke public

[2016-10-07 10:25] pyk commented on #19
@Teofebano19 setuju sama @hayyuelha, nanti bisa disimpen di database dulu baru di export ke CSV, nah dari file CSV bisa di import via spreadsheet

[2016-10-07 16:00] pyk commented on #24
Sementara ini di hold dulu karena belum punya alasan yg jelas kenapa kita pake `uuid`. Related #22

[2016-10-07 16:00] #24 closed, assigned to nobody

[2016-10-07 16:26] pyk commented on #17
@bobbypriambodo thanks mas! saya coba dulu 👍

[2016-10-07 16:42] mnafian commented on #6
Siap mbantu untuk bagian android, mungkin perlu di breaf lagi masalah standarisasi pengunaan pattern project yg dipakai? semisal mau pake MVP atau MVVM? atau mas @vickydasta udah buat standarisasi lainnya mungkin?

[2016-10-07 16:58] vck commented on #6
@mnafian
- untuk pattern apps nya, saya belum pernah make baik MVP, atau MVVP,
  mungkin temen-temen bisa bantu soal ini? :)

@billyriantono
- juga untuk standarisasi kode, saya juga belum pernah make _yang beginian_. tbh ini project _seriusan_ pertama saya, and i'm so excited!

dan, mungkin temen-temen yang lain lebih berpengalaman dlm android development, bisa ngegantiin saya nge lead bagian roj

[2016-10-07 17:07] mnafian commented on #6
Kalo saya pribadi lebih prefer MVP, selain nanti lebih readable sama clean juga rata-rata udah banyak yg move on ke pattern ini, lebih modular juga, but in case dipake di scale project middle - complex, maka dari itu juga perlu tau scale rojak ini sebesar apa ntar, pengalaman pake MVP ini kalo dipake di project yg kompleksitasnya nanggung, buang2 resource juga menurut saya. cmiiw.
bisa diliat di l

[2016-10-07 17:37] pyk commented on #6
@vickydasta yg ngelead cuma untuk komunikasi biar lancar mas, feel free untuk diskusiin apa aja kebutuhannya sama tim 😃

[2016-10-07 17:55] pyk commented on #6
Oh ya, untuk yang belum join slack Rojak Team untuk diskusi/tanya2 bisa gabung lewat sini https://rojakteam.herokuapp.com/, nuhun 🙇

[2016-10-07 17:55] pyk commented on #7
Oh ya, untuk yang belum join slack Rojak Team untuk diskusi/tanya2 bisa gabung lewat sini https://rojakteam.herokuapp.com/, nuhun 🙇

[2016-10-07 17:56] pyk commented on #5
Oh ya, untuk yang belum join slack Rojak Team untuk diskusi/tanya2 bisa gabung lewat sini https://rojakteam.herokuapp.com/, nuhun 🙇

[2016-10-07 17:56] pyk commented on #4
Oh ya, untuk yang belum join slack Rojak Team untuk diskusi/tanya2 bisa gabung lewat sini https://rojakteam.herokuapp.com/, nuhun 🙇

[2016-10-07 17:56] pyk commented on #1
Oh ya, untuk yang belum join slack Rojak Team untuk diskusi/tanya2 bisa gabung lewat sini https://rojakteam.herokuapp.com/, nuhun 🙇

[2016-10-07 19:32] pyk commented on #17
untuk progressnya bisa dilihat di #27

[2016-10-08 00:45] vck commented on #6
woke!

On Sat, Oct 8, 2016 at 12:37 AM, Bayu Aldi Yansyah <notifications@github.com

[2016-10-08 03:51] bobbypriam commented on #15
Solved with #23.

[2016-10-08 03:51] #15 closed, assigned to nobody

[2016-10-08 04:55] fajarmf commented on #16
#22 merged, tapi tetep bergerak ya. nanti di update lagi.

Btw, untuk lihat list of models dan attributes nya ada dimana ya? @bobbypriambodo @pyk ?

[2016-10-08 08:09] pyk commented on #16
@fajarmf untuk model phoenix nya disini mas https://github.com/pyk/rojak/pull/27, belum di merge.

Untuk models dan attributes di database ada di https://github.com/pyk/rojak/blob/master/rojak-database/rojak_schema_latest.sql

[2016-10-09 02:22] bobbypriam commented on #16
Draft API dilanjutkan lagi di #36. Coba lihat apakah ada use case yang masih ketinggalan.

[2016-10-09 02:43] pyk commented on #13
ini solved di #18 yah

[2016-10-09 02:43] #13 closed, assigned to nobody

[2016-10-09 12:12] bobbypriam commented on #17
Solved di #27.

[2016-10-09 12:12] #17 closed, assigned to pyk

[2016-10-09 13:36] pyk commented on #19
Training datanya sudah ada di google spreadsheet yah cek email masing2 untuk tim data. Bagi kalian yg pake semi-supervised method bisa langsung buat modelnya 🙇

[2016-10-09 13:37] pyk commented on #7
@riordhn any update yo?

[2016-10-09 13:38] pyk commented on #2
Schema data kita udah versi V0.4 yah #34

[2016-10-09 13:38] #2 closed, assigned to nobody

[2016-10-09 13:45] pyk opened #39 "[rojak-pantau] Penambahan media untuk di pantau"
Saat ini kita sudah memantau detikcom, beberapa media besar akan di tambahkan lagi. Jika ada media yang perlu ditambahkan silahkan kirim Pull Request atau kita diskusikan issue ini.

Untuk dokumentasinya ada di [rojak-pantau/README.md](https://github.com/pyk/rojak/blob/master/rojak-pantau/README.md)

Jika ada pertanyaan kita diskusikan disini ya 🙇

[2016-10-09 22:49] imrenagi commented on #39
Bay, gw nambahin kompas ya. in progress.

[2016-10-10 00:26] imrenagi commented on #39
Bay, content berita yg mau disimpen raw aja kan? tag2 htmlnya dibiarin as it is aja?

[2016-10-10 05:08] pyk commented on #39
@imrenagi Siap mas 🙇

[2016-10-10 06:31] girikuncoro commented on #39
ini python nya `python 2.7` kan ya?

[2016-10-10 06:47] girikuncoro commented on #39
gw mulai contribute di `rojak-pantau` ya, beberapa media besar yang seru buat digarap apa aja ya ada idekah selain `detik.com` sama `kompas` yang udah diambil sama @pyk dan @imrenagi ? Buat MVP targetnya berapa media? Yang gw kepikiran major media adalah:
- Detik.com (http://www.detik.com/)
- Kompas (http://www.kompas.com/)
- Viva news group TVone (http://www.viva.co.id/)
- Metro news section khus

[2016-10-10 10:19] pyk commented on #39
@girikuncoro iya mas Pyhon 2.7, btw udah aku tambahin jadi collborator ya mas (cek email). Nanti tinggal push aja 🙇

[2016-10-10 10:21] pyk commented on #39
@girikuncoro setuju mas sama yg listnya. Itu udah cukup buat MVP nya karena udah mengcover media yg sering jadi rujukan.

Untuk data trainingnya cuma pake bahasa Indo sih mas, jadi belum bisa yg english seperti Jakarta Post

[2016-10-10 17:57] girikuncoro opened #42 "[rojak-pantau] Detikcom spider issue?"
Barusan cobain jalanin ini `scrapy crawl detikcom` tapi ada eror.
Ini eror di komputerku saja atau di yang lain juga ya?

Sepertinya di komputerku start url ini http://news.detik.com/indeksfokus/67/jakarta-memilih/1 isinya kosong/blank, makanya cursor jadi `null` dan line 50 (https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/detikcom.py#L50) error.

Abaikan kalo ini bukan

[2016-10-10 18:03] pyk commented on #42
@girikuncoro oh ini

[code]

gara2 waktu [request informasi media ke database](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/detikcom.py#L48) gak ada media yg namanya `detikcom`.

dikomputernya udah setup MySQL db sama insert `rojak-database/data_media.json` lewat `python insert_media_data.py` ?

[2016-10-10 18:43] girikuncoro commented on #42
@pyk ah baiklah dicoba dulu, MySQL db baru `populate_rojak_database_with_dummy_data.sh` doang

[2016-10-10 18:44] girikuncoro commented on #42
Oke aman, close ya

[code]

[2016-10-10 18:44] #42 closed, assigned to nobody

[2016-10-10 18:52] pyk commented on #42
@girikuncoro oke mas 🙇

[2016-10-10 18:58] aldidoanta commented on #39
Berdasarkan daftar media yang ada di https://github.com/pyk/rojak/issues/39#issuecomment-252546022, gue coba cari beberapa URL yang bisa dimasukin ke `start_urls` untuk `rojak-pantau` (selain detik dan kompas).

Beberapa media ada yang punya tag berita lebih dari satu, ada juga yang nggak punya tag `pilkada jakarta` sama sekali (atau tagnya aja yang belum ketemu hehehe). Mohon koreksinya kalau ada

[2016-10-10 19:14] pyk commented on #39
Mantaaaaap! 👍🙇

On Tuesday, 11 October 2016, Aldi Doanta Kurnia notifications@github.com
wrote:

##

Bayu Aldi Yansyah,
Universitas Airlangga
https://github.com/pyk

[2016-10-10 23:56] girikuncoro opened #44 "[rojak-pantau] pipeline issue?"
Apakah ini maksudnya `spider.slack` di line 31?
https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/pipelines.py#L31

Soalnya gw secara ga sengaja dapet db error lalu kena di catch nya `pipeline.py` tapi dapet:

[code]

[2016-10-11 02:22] pyk commented on #44
@girikuncoro ah ya, itu harusnya `spider.is_slack`. Bentar aku fix ya

[2016-10-11 02:24] pyk commented on #44
oke fixnya udah di merged #46 , thanks untuk reportnya mas 🙇

[2016-10-11 03:51] #44 closed, assigned to nobody

[2016-10-11 03:53] girikuncoro commented on #44
@pyk sama 1 lagi sbnernya coba cek komen ku di sini https://github.com/pyk/rojak/pull/43/files/54acfc07c45a94a37a785d4c5fd1678af88a04e2

Abaikan kalo bukan issue :D

[2016-10-11 05:19] pyk opened #47 "[rojak-pantau] Timezone issue"
Untuk sekarang ada masalah mengenai `rojak-pantau`, waktu yg kita retrieve dari berita dan waktu yang ada di database itu berbeda.

Contoh masalahnya:

[code]

`rojak-pantau` last scrape ke detikcom itu `2016-10-11 05:00:04` tapi udah ada berita yg di publish `2016-10-11 11:51:00` (6 jam setelahnya). Jadi `rojak-pantau` akan mengira berita tersebut baru dan berulang kali memasukan nya ke database.

[2016-10-11 05:25] pyk commented on #44
@girikuncoro eh komen masnya kok gak ada ya?

[2016-10-11 05:26] pyk commented on #44
keknya github reviewnya belum kamu publish mas

[2016-10-11 05:38] irwansyahwii commented on #5
Numpang nyimak

[2016-10-11 07:26] girikuncoro commented on #47
@pyk kalo semua pake epoch/unix timestamp gimana? ah tapi di schema nya udah date ya? kalo begitu timezone UTC-0 aja?

[2016-10-11 07:48] girikuncoro commented on #44
iya sepertinya belum terpublish tadi :D

[2016-10-11 13:11] pyk commented on #47
@girikuncoro setuju mas, UTC-0 aja. Fix in progress

[2016-10-11 16:53] girikuncoro commented on #39
@pyk @aldidoanta @imrenagi I'll take CNN tonight

[2016-10-11 18:02] pyk commented on #39
@girikuncoro nice! Tempo in progress too! :smile:

[2016-10-11 21:39] girikuncoro commented on #39
`beritasatu` next. Kalo ada waktu abis 2-3 media lagi nanti tak bikinin unittest buat semua deh, kalo ga spider contract, betamax, atau benerin spider fake response yang udah sempet dioprek

[2016-10-12 03:00] girikuncoro commented on #39
`vivanews` next

[2016-10-12 03:14] girikuncoro commented on #19
Btw ini data newsnya kan ribuan yah (beritasatu aja gw set 600 news buat collect dari akhir juli 2016 sampe sekarang), ga mau dicrowdsource/mechanical turk aja buat labeling sentimennya? Ga tau tapi biasanya ada yang reliable gak yah

[2016-10-12 03:40] rawgni opened #53 "rojak-pantau dependencies"
[code]

**Steps to reproduce**:
`./install_dependencies.sh`

[2016-10-12 03:53] girikuncoro commented on #53
@rawgni what's your machine/environment? can you confirm you have `mysql` installed on your machine? `mysql_config` is something related to your `mysql` installation, not the `pip` thing

this might help:

[code]

http://stackoverflow.com/questions/7475223/mysql-config-not-found-when-installing-mysqldb-python-interface

[2016-10-12 04:09] rawgni commented on #53
@girikuncoro yep it's not installed.

Maybe there should be one script to setup dev/prod env. what do you think?

[2016-10-12 05:24] girikuncoro commented on #53
@rawgni good idea, I'm planning to wrap it up with `virtualenv`, `nose`, and `flake8` as well. close for now

[2016-10-12 05:24] #53 closed, assigned to nobody

[2016-10-12 05:28] girikuncoro commented on #53
@rawgni also actually you might wanna setup `rojak-database` as well if you're planning to start playing with `rojak-pantau` as stated here: https://github.com/pyk/rojak/tree/master/rojak-pantau#setup

[2016-10-12 06:34] girikuncoro commented on #39
`merdeka.com` next sama bikin `unittest` buat masing2

[2016-10-12 06:51] girikuncoro commented on #7
agak bingung soal ide yang bot ini, apakah ini melakukan:
- mantau artikel2 di fb yang terkait sama pilgub, scrape dan masuk ke `rojak-database`, atau
- mantau artikel2 terkait di fb, lalu beri sentimen text dan juga fitur2 lain (e.g. jumlah share, jumlah comment, jumlah like), kasih sentimen komen2 nya juga sebagai input `rojak-analyzer`, atau
- sebagai interface masyarakat -> tanya2 lewat bot me

[2016-10-12 06:53] ghost commented on #7
Nanyanya di slack aja mas😉

[2016-10-12 10:05] pyk commented on #47
fixed by #50

[2016-10-12 10:05] #47 closed, assigned to nobody

[2016-10-12 23:06] pyk opened #64 "[rojak-pantau] Fail-safe untuk rojak-pantau"
Untuk sekarang ini spider kita assume kalau elemen yg di ambil (`response.css('nama class')`) itu ada sih

Nah ada beberapa kasus misalnya response webnya `404`, itu nanti `title`,`author_name` etc itu bakalan empty/NULL.

Jadi kita harus nambahin untuk Fail-safe, kalau ada `title` etc yg kosong, kita raise `DropItem` https://doc.scrapy.org/en/latest/topics/exceptions.html#dropitem

Menurut kalian

[2016-10-12 23:13] imrenagi commented on #64
Setuju.

[2016-10-12 23:17] imrenagi opened #65 "[rojak-pantau] Create a database service for rojak-pantau"
Currently, each scrapper creates their own mysql implementation. I think we need to separate this thing so that all scrapper can use the similar function from a service to store the result to the database. Otherwise, we will end up with changing every scrapper when we update the query or database schema.

[2016-10-13 00:55] rawgni commented on #64
setuju

[2016-10-13 01:15] girikuncoro commented on #64
Setuju, tinggal dimasukin ke pipeline aja kan ya? Ohya tapi metrotvnews apa cnn gitu kalo gak salah ada page yg ga ada authornya (kalo video, gw ambil captionnya 1-2 paragraf, tapi karena video dia ga ada author), ini bagusnya diilangin apa gw kasih nama dummy aja?

[2016-10-13 01:17] girikuncoro commented on #64
dan kalo response 404 etc page nya itu ke catch terus scraping nya lanjut, atau bakal raise error terus berenti? belom sempet ngetes euy

[2016-10-13 02:44] chi-putera opened #66 "[rojak-ui] Sebagai pengguna rojak, saya ingin melihat searchbox dan beberapa kategori pencarian."
![rojakhome](https://cloud.githubusercontent.com/assets/8364545/19334739/71ce5c6c-9128-11e6-803d-7d14dde941f1.jpg)

Requirements:
- Interaksi bisa serupa dengan https://libscore.com/.
- Ada penjelasan singkat mengenai cara penggunaan aplikasi.
- Fitur hasil pencarian akan dipisah pada _story (issue)_ lain.

[2016-10-13 02:48] pyk commented on #65
setuju, mungkin separate package mirip [i18n](https://github.com/pyk/rojak/tree/master/rojak-pantau/rojak_pantau/i18n) yah

cc: @girikuncoro

[2016-10-13 02:54] pyk commented on #64
Rencananya gitu mas, tapi mostly fail nya gara2 index out-of-bond (access index `0` dari empty string). Jadi tetep di spider-nya

Jangan mas, kalo gak ada authornya di skip aja. Author salah satu feature training data kita btw

Kita raise `DropItem` mas. Scrape lanjut tapi news kita skip

[2016-10-13 02:55] pyk commented on #64
btw kalo gitu nanti malem aku submit PR ya tentang ini, terimakasih! :bowing_man:

[2016-10-13 03:39] kevinluvian commented on #64
:ok_hand:

[2016-10-13 06:25] girikuncoro commented on #65
@pyk @imrenagi  hmm kurang paham, ini maksudnya ngomong [ini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/detikcom.py#L22) dan [ini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/detikcom.py#L26)?

[2016-10-13 06:29] chi-putera opened #68 "[rojak-ui] Sebagai pengguna rojak, ketika mencari menggunakan nama kandidat, saya ingin melihat profil dan sentimen media terhadap kandidat tersebut."
![rojaksearchresultcandidate](https://cloud.githubusercontent.com/assets/8364545/19677374/30e7f2ae-9ac3-11e6-8982-d486aa806d65.jpg)

**Acceptance Criteria**
1. Saya ingin melihat detail profil kandidat, beserta foto, agar tidak salah memilih.
2. Saya ingin melihat sentiment media-media terhadap kandidat yang saya pilih.
3. Saya ingin tahu, media apa saja yang **paling memihak** dan **paling tidak

[2016-10-13 06:39] girikuncoro commented on #65
sama sbnernya kalo mau enhancement kepikiran kalo `__init__`, `from_crawler`, `spider_opened`, `spider_closed` untuk setiap spider semuanya sama, jadi bisa dijadiin base/parent class aja tiap spider news cukup implement `parse` sama `parse_news`

[2016-10-13 07:15] girikuncoro commented on #65
wah gerak cepat @rawgni :D

[2016-10-13 09:13] kevinluvian commented on #39
jawapos gak punya author, gmn ya?

[2016-10-13 13:33] pyk commented on #65
@imrenagi yg #69 udah fix ini kan?

[2016-10-13 13:36] pyk commented on #39
@kevinluvian kalo gak ada authornya kita skip dulu ya mas

[2016-10-13 15:05] girikuncoro commented on #39
tinggal bbc tempo sama liputan6 ya?

[2016-10-13 15:24] pyk commented on #68
@CodeRiderz @rromadhoni btw cuman usul aja sih, karena ini berhubungan dengan JKT mungkin enaknya color scheme nya ada oranye2 nya gitu ya (atau warna khas JKT lainnya)

[2016-10-13 16:37] pyk opened #71 "[rojak-pantau] Bug on spiders, class not imported"
It seems this missed on #69 , will fix this on the next PR https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/detikcom.py#L44

[2016-10-13 16:38] girikuncoro commented on #71
tinggal tambah `from scrapy import Request`

[2016-10-13 16:39] pyk commented on #71
yup bener mas 🙇

[2016-10-13 17:18] #65 closed, assigned to nobody

[2016-10-13 18:16] pyk opened #75 "[rojak-analyzer] Required data"
Kita sebelumnya pernah diskusi di channel `#tim-data` untuk topik ini: (copy paste)

[code]

nah waktu itu aku hanya kepikiran classifier untuk satu media aja sih, itu mungkin untuk pake data `author_name` sebagai feature.

Setelah aku coba, ada beberapa masalah untuk approach ini:
1. Kita harus buat satu media satu classifier => very time consuming
2. Kita harus punya daftar author untuk setiap m

[2016-10-13 18:20] pyk commented on #64
Need to implement this to other spiders, will create separate issue for this.

[2016-10-13 18:20] #64 closed, assigned to pyk

[2016-10-13 18:32] pyk opened #76 "[rojak-pantau] Fail-safe untuk spider beritasatu"
Sekarang di spider `beritasatu` kita masih asumsi kalau semua selector kita ada hasilnya.
Ada beberapa case yang belum kita handle misal di [sini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/beritasatu.py#L37):

[code]
- kalo `article.css('h4 > a::attr(href)')` return empty
- => `extract()` akan return empty string
- => access `[0]` di empty string akan menyebabkan `

[2016-10-13 18:33] pyk opened #77 "[rojak-pantau] Fail-safe untuk CNN Indonesia"
Sekarang di spider `cnn` kita masih asumsi kalau semua selector kita ada hasilnya.
Ada beberapa case yang belum kita handle misal di [sini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/cnnindonesia.py#L28):

[code]
- kalo `article.css('a::attr(href)')` return empty
- => `extract()` akan return empty string
- => access `[0]` di empty string akan menyebabkan `IndexError

[2016-10-13 18:36] pyk opened #78 "[rojak-pantau] Fail-safe untuk Kompas"
Sekarang di spider `kompas` kita masih asumsi kalau semua selector kita ada hasilnya.
Ada beberapa case yang belum kita handle misal di [sini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/kompascom.py#L25):

[code]
- kalo `news.css("div.tleft > h3 > a::attr(href)")` return empty
- => `extract()` akan return empty string
- => access `[0]` di empty string akan menyebabk

[2016-10-13 18:39] pyk opened #79 "[rojak-pantau] Fail-safe untuk MetroTV News"
Sekarang di spider `metrotv` kita masih asumsi kalau semua selector kita ada hasilnya.
Ada beberapa case yang belum kita handle misal di [sini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/metrotvnews.py#L27):

[code]
- kalo `article.css('h1 > a::attr(href)')` return empty
- => `extract()` akan return empty string
- => access `[0]` di empty string akan menyebabkan `In

[2016-10-13 18:41] kevinluvian commented on #75
kalo pake author_name sebagai feature, apakah ngak nanti classifiernya jadi bias? (melihat pro/kontra nya dari artikel author sebelumnya, padahal yang mau di classify adalah artikel author pada saat itu, exclusive dari artikel lain author tsb)

pertimbangan mau pakai author untuk jadi feature apa ya? aku pikir lebih bagus kalo gak bias?

[2016-10-13 18:42] pyk opened #80 "[rojak-pantau] Fail-safe untuk Okezone"
Sekarang di spider `OkeZone` kita masih asumsi kalau semua selector kita ada hasilnya.
Ada beberapa case yang belum kita handle misal di [sini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/okezone.py#L127):

[code]
- kalo `article.css('h3 > a::attr(href)')` return empty
- => `extract()` akan return empty string
- => access `[0]` di empty string akan menyebabkan `Index

[2016-10-13 18:44] pyk opened #81 "[rojak-pantau] Fail-safe untuk SindoNews"
Sekarang di spider `sindonews` kita masih asumsi kalau semua selector kita ada hasilnya.
Ada beberapa case yang belum kita handle misal di [sini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/sindonews.py#L118):

[code]
- kalo `article.css('a::attr(href)')` return empty
- => `extract()` akan return empty string
- => access `[0]` di empty string akan menyebabkan `IndexE

[2016-10-13 18:45] pyk opened #82 "[rojak-pantau] Fail-safe untuk Viva"
Sekarang di spider `viva` kita masih asumsi kalau semua selector kita ada hasilnya.
Ada beberapa case yang belum kita handle misal di [sini](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/viva.py#L27):

[code]
- kalo `article.css('a::attr(href)')` return empty
- => `extract()` akan return empty string
- => access `[0]` di empty string akan menyebabkan `IndexError` di Py

[2016-10-13 18:46] pyk commented on #71
Fixed by #73

[2016-10-13 18:46] #71 closed, assigned to nobody

[2016-10-13 18:50] pyk commented on #75
@kevinluvian Yup, untuk satu media itu yang mau kita capture mas (dengan pertimbangan gaya bahasa author, keberpihakan, dll). Tapi kalau kasus rojak ini ada beberapa media jadi kita gak bisa pakai `author_name` mas. Karena belum tentu author A menulis berita di semua media.

Jadi kita gak pake lagi feature `author_name`

[2016-10-13 19:16] girikuncoro commented on #68
@pyk wah kalo oranye ane keluar deh dari project ini, karena viking persib anti jakmania

[2016-10-13 19:23] girikuncoro commented on #68
@CodeRiderz ohya sebagai voter saya sepertinya ingin melihat afiliasi2 partai dari kandidat juga di profilnya. dan media-media biasanya berafiliasi sama partai, contohnya: viva (golkar karena yang punya aburizal bakrie), metrotvnews (nasdem karena yang punya surya paloh), dkk

[2016-10-14 05:23] pyk commented on #68
@girikuncoro woahhh itu cuman usulan sih mas, nanti terserah temen2 hehe

[2016-10-14 06:19] chi-putera commented on #68
@girikuncoro Saya belum melihat adanya field partai di kandidat, media, ataupun partai. Apakah **team-api** sudah membuatnya ? Kalau memang sudah, akan saya pikirkan lagi nanti. Ada ide ?

[2016-10-14 08:05] kevinluvian commented on #75
ooh jadi issuenya karena syarat untuk jadi feature itu harus universal ya? author harus tulis berita di semua media?
yah kalo gitu mau gak mau ga bisa pake feature author

[2016-10-14 14:31] pyk commented on #76
will tackle this

[2016-10-14 15:13] pyk commented on #76
in review #85

[2016-10-14 15:13] pyk commented on #77
will tackle this

[2016-10-14 16:52] girikuncoro commented on #79
I'll take this tonight

[2016-10-14 16:54] #76 closed, assigned to pyk

[2016-10-14 16:54] #77 closed, assigned to pyk

[2016-10-14 18:01] pyk commented on #78
Will tackle this

[2016-10-14 18:40] pyk commented on #78
In review #87

[2016-10-14 18:41] pyk commented on #80
Fixed by #83

[2016-10-14 18:41] #80 closed, assigned to nobody

[2016-10-14 18:43] pyk opened #88 "[rojak-pantau] Implement BaseSpider on OkeZone"
Untuk sementara ini [spider okezone](https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/okezone.py) belum inherit ke `BaseSpider`.

Kita perlu untuk refactor spider ini

[2016-10-14 18:44] pyk commented on #88
will tackle this

[2016-10-14 19:06] pyk commented on #88
in review #89

[2016-10-15 07:04] #78 closed, assigned to pyk

[2016-10-15 15:59] pyk commented on #82
will tackle this

[2016-10-15 17:23] pyk commented on #82
in review #91

[2016-10-15 17:24] #88 closed, assigned to pyk

[2016-10-15 17:51] pyk opened #92 "[rojak-pantau] Issue raw_content di CNN Indonesia"
Di dalam HTML tag `div.detail_text` [berita CNN Indonesia](http://m.cnnindonesia.com/politik/20161011132802-32-164701/agus-yudhoyono-blusukan-annisa-pohan-jadi-bintang/) ada beberapa element yang bukan content nya.

Seperti `date`, `title` `picdetail` dan `topiksisip`. Tantangan kita adalah untuk mengekstrak html content nya aja.

Somehow kita harus exlude HTML tag yang bukan content itu.

Aku ras

[2016-10-15 17:56] pyk opened #93 "[rojak-pantau] Issue raw_content di Detikcom"
Setiap [raw_content](https://github.com/pyk/rojak/blob/0bd31619a66cfcca8bd8ab839b63bfd16735756d/rojak-pantau/rojak_pantau/spiders/detikcom.py#L92) di media `detikcom` yg kita scrape itu mengandung HTML tag tambahan ini:

[code]

Kita harus me-remove nya

[2016-10-15 18:10] pyk opened #94 "[rojak-pantau] Invalid raw_content dan masalah di author_name pada Kompas"
Untuk sekarang scraper kompas kita masih mengambil `raw_data` yg invalid.

Contohnya berita ini: [http://megapolitan.kompas.com/read/2016/10/14/20230371/sylviana.murni.sindir.ahok.lebih.banyak.buat.pergub.daripada.perda](http://megapolitan.kompas.com/read/2016/10/14/20230371/sylviana.murni.sindir.ahok.lebih.banyak.buat.pergub.daripada.perda)

[code]

Scraper kompas hanya mengambil sebagian `raw_co

[2016-10-16 03:13] #82 closed, assigned to pyk

[2016-10-16 03:18] pyk commented on #93
will tackle this

[2016-10-16 03:58] #93 closed, assigned to nobody

[2016-10-16 04:00] pyk commented on #92
Contoh penggunaan XPath ada disini https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/detikcom.py#L91

[2016-10-16 04:01] pyk commented on #94
contoh penggunaan xpath ada di https://github.com/pyk/rojak/blob/master/rojak-pantau/rojak_pantau/spiders/detikcom.py#L91

[2016-10-16 04:02] pyk opened #96 "[rojak-analyzer] Initialize rojak-analyzer"
Data yang kita kumpulin dan labelin dari detikcom udah lumayan. Tinggal membuat code base untuk MVP analyzer nya. Lalu di train dengan data dari detikcom

[2016-10-16 04:35] kevinluvian opened #97 "[rojak-pantau] Implement fail-safe for merdeka"

[2016-10-16 05:30] kevinluvian commented on #94
fyi: ada artikel yang multiple page
http://megapolitan.kompas.com/read/2016/10/15/07300081/ini.yang.akan.dilakukan.ahok-djarot.anies-sandi.dan.agus-sylvi.di.bidang.kesehatan

menurutku lebih baik kita pakai API kompas ini aja, returnnya langsung all page

http://api.kompas.com/external/?type=readdua&kanal=home&command=.xml.2016.10.15.07300081&format=json&APPSF0UNDRYBYPASS=%20HTTP/1.1

[2016-10-16 05:36] pyk commented on #94
@kevinluvian woah, udah lengkap kalo pake API nya itu. Mantap 👍

[2016-10-16 05:37] pyk commented on #96
will work on this

[2016-10-16 05:50] pyk commented on #39
@girikuncoro Iya mas

Oh ya ada update #75 , yg gak ada authornya kita sikat ya @kevinluvian

[2016-10-16 05:54] pyk commented on #97
Fixed ya #98

[2016-10-16 05:54] #97 closed, assigned to nobody

[2016-10-16 06:02] pyk commented on #81
Fixed by #84

[2016-10-16 06:02] #81 closed, assigned to nobody

[2016-10-16 06:58] girikuncoro commented on #79
@pyk sori nih keburu perjalanan panjang ke luar kota, besok begitu konek internet gw push changes nya

[2016-10-16 09:29] pyk opened #100 "[rojak-pantau] Menghandle berita multi-halaman"
Di beberapa media ada berita yang dipublikasikan menjadi 2 atau lebih halaman. Contohnya:
- http://news.detik.com/berita/d-3302845/balada-kencan-singkat-ahok-heru
- www.jawapos.com/read/2016/10/13/57201/pan-beberkan-kerugian-publik-akibat-isu-sara-di-pilkada-dki

Somehow kita harus handle ini juga.

Ide paling naif:
1. Cek dulu apakah beritanya multi-halaman
2. Jika tidak, do nothing
3. Jika ya, k

[2016-10-16 09:38] pyk commented on #79
santai mas @girikuncoro 🙇

[2016-10-16 10:15] kevinluvian commented on #100
bentuk raw contentnya jadi gimana ya utk yg multi halaman begini? apa di concat aja?

proses 3 dan 4 cara gabunginnya gimana ya? rekursif?

[2016-10-16 11:20] pyk commented on #100
@kevinluvian iya di concat aja

Tinggal for loop aja kan? append data ke `raw_content` lalu `break` kalo udah gak nemu link ke next page nya.

[2016-10-16 12:07] pyk commented on #100
Baru saja nemuin kalau di `detikcom` berita yang punya multiple page punya struktur yang beda.

[code]

Jadi berita yang multi-halaman akan di drop oleh spider yang sekarang (Aman gak ada data `raw_content` yg parsial/invalid)

Dan ini gak begitu urgent juga sih. Cuman perlu waspada untuk media lain, jangan sampai `raw_content` nya gak lengkap 🙇

[2016-10-16 16:00] rilut commented on #100
Halo, saya tadi sudah mencoba *handle* berita multi-halaman, caranya: `yield` tiap halaman berita. Tadi sedikit bingung di *callback* pada generator.

Mohon masukan dan review teman-teman untuk #101

[2016-10-17 00:56] girikuncoro commented on #92
I'm taking this

[2016-10-17 14:28] bobbypriam opened #106 "[rojak-api] API spec v0.2 discussion"
Spesifikasi awal sudah dilakukan di #36. Namun ada beberapa hal yang membuat spesifikasi sekarang sepertinya kurang spesifik dan cenderung banyak redundansi. Isu ini ditujukan untuk mendiskusikan revisi spesifikasi tersebut.

Edit: Untuk memudahkan, kita akan pakai versioning untuk spesifikasi (yang mungkin akan berbeda dengan version schema data dan implementasinya). Ini akan jadi **v0.2**, dan s

[2016-10-17 14:29] bobbypriam commented on #16
#36 sudah dimerge, namun ada beberapa concern untuk revisi, seperti ada pada #106. Isu ini akan ditutup agar diskusi bisa pindah ke sana.

[2016-10-17 14:29] #16 closed, assigned to nobody

[2016-10-17 22:26] girikuncoro commented on #100
hmm menarik juga, dan ini di halaman terakhir tetep ada next buttonnya ke halaman yang sama http://news.detik.com/berita/d-3302845/balada-kencan-singkat-ahok-heru/4

menurut ane sbnernya ga perlu cek berita multi halaman atau ngga, langsung aja increment si page nya dari 1 dst, sampe isinya blank page kaya ini: http://news.detik.com/berita/d-3302845/balada-kencan-singkat-ahok-heru/5 lalu `CloseSpi

[2016-10-18 02:30] pyk commented on #106
cc @rromadhoni @mychaelgo @adrianha @hidrodixtion

[2016-10-18 08:40] mychaelgo commented on #106
btw, itu kan ada sentiment (positive, neutral,negative) nanti mau gambarin di ui nya pakai icon gitu ya?

[2016-10-18 12:46] bobbypriam commented on #106
@mychaelgo Presentasinya terserah yang bikin UI sih mas. Menurut temen-temen tim data skor dari sentimen tiap-tiap news punya range `0 <= score <= 1`, jadi representasinya yang dikasih dari API bisa raw desimal atau dalam percentage. Mungkin di UI-nya bisa dalam bentuk chart (bar, donat, star, etc.)?

[2016-10-18 12:55] mychaelgo commented on #106
Oh okay, mau nanya untuk yang endpoint 11, apakah memungkinkan 1 media membahas lebih dari 2 candidate?

[2016-10-18 12:58] bobbypriam commented on #106
Media tidak membahas candidate, mas, yang membahas candidate itu di `news`. Media hanya punya agregasi sentimen-sentimen dari berita-berita pada media tersebut.

Endpoint 11 akan mengembalikan agregasi itu dalam format array of objects, di mana tiap-tiap object akan mengandung keterangan pasangan dan sentimennya (termasuk breakdown untuk tiap candidate-nya). Kira-kira masuk akal ga mas?

[2016-10-18 13:08] bobbypriam commented on #106
Saya baru saja menambahkan keterangan version dari spesifikasi ini dan beberapa poin perubahan sejak versi sebelumnya di post pertama issue ini, mungkin dapat membantu untuk memahami perubahan yang diajukan.

[2016-10-18 13:09] mychaelgo commented on #106
Oh media di sini maksudnya kayak detik, kompas gitu? Sumber berita nya ya? Kalau seperti itu, saya rasa udh ok :)

[2016-10-18 13:11] bobbypriam commented on #106
@mychaelgo Yap, betul mas 👍

[2016-10-18 13:29] bobbypriam commented on #106
Mungkin pertanyaan yang harus dijawab adalah:
1. Apakah endpoint dan informasi yang disediakan masuk akal dan mencakup use case yang dibutuhkan?
2. Apakah struktur response yang disediakan masuk akal?

Saya pribadi masih galau di:
- `*/media-sentiments` (3 dan 6)<br>Apakah keterangan media sudah cukup? Atau kita dump saja semua property dari media di objectnya?
- News `mentions` (7 dan 8)<br>Sama,

[2016-10-18 14:44] kevinluvian commented on #94
hmm saya ambil aja ya ini

[2016-10-18 14:52] kevinluvian commented on #94
untuk field url nya mending url api atau url aslinya? @pyk
dari api nya dapet sih link ke articlenya, tapi takutnya ga konsisten aja.

[2016-10-18 14:56] bobbypriam commented on #94
Nimbrung, harusnya URL asli ga ya? Karena nantinya akan ada di response payload dari rojak-api untuk digunakan di UI (link menuju berita). CMIIW

[2016-10-18 15:09] adrianha commented on #66
Please review #109 yah @CodeRiderz @rromadhoni

[2016-10-18 15:24] bobbypriam commented on #66
Boleh info lebih jauh untuk story ini butuh apa saja dari API? Spesifikasi API sampai saat ini belum meng-_cater_ fitur pencarian.

Ini sepertinya cuma pencarian media, kandidat, dan pasangan ya? Karena jumlah masing-masing kategori tersebut terbatas (tidak seperti berita yang banyak sekali), apa mungkin API hanya perlu mengembalikan semua data dan kemudian pencarian/filtering dilakukan di client?

[2016-10-18 15:46] kevinluvian commented on #94
kalo misalnya bener harus url asli, ada beberapa spider yang harus diganti

[2016-10-18 17:57] chi-putera commented on #66
Iyes om, seharusnya cukup dilakukan di client side.
**Mungkin nanti** kita akan butuh fitur search hanya untuk `/news` saja.

[2016-10-19 01:06] pyk commented on #94
@kevinluvian iya mas harus URL aslinya (url public ke berita)

[2016-10-19 01:28] rrmdn commented on #68
partai itu entiti juga di rojak?

[2016-10-19 01:56] pyk commented on #96
fixed by #103

[2016-10-19 01:56] #96 closed, assigned to pyk

[2016-10-19 02:01] pyk commented on #79
fixed by #104

[2016-10-19 02:01] #79 closed, assigned to nobody

[2016-10-19 03:35] girikuncoro commented on #39
I'll take liputan 6, abis itu tempo tak ambil kalo @pyk ga sempat, biar bisa kita close issue ini

[2016-10-19 03:36] bobbypriam commented on #68
@CodeRiderz @girikuncoro Saat ini di [schema data rojak](https://github.com/pyk/rojak/blob/master/rojak-database/rojak_schema_latest.sql) belum ada keterangan partai untuk tiap-tiap kandidat/media. Tim API menggunakan schema tersebut sebagai acuan pembuatan spesifikasi.

cc: @pyk

[2016-10-19 04:11] kevinluvian commented on #94
kalo gitu parser okezone harus dirubah @pyk, tapi ada beberapa parser yang pake link article versi mobilenya. kalo misalnya mau ditaro di UI harusnya bukan link mobile dong?

[2016-10-19 13:38] pyk commented on #94
@kevinluvian untuk itu gak masalah sih mas, biasanya langsung di redirect ke versi non-mobilenya sama server media nya.

Ini fixed by #108 yah

[2016-10-19 13:38] #94 closed, assigned to nobody

[2016-10-19 13:38] pyk commented on #100
btw untuk kasus detik udah di solve sama @rawgni di #107

[2016-10-19 13:41] pyk commented on #66
@bobbypriambodo yup bener

[2016-10-19 13:42] pyk commented on #39
@girikuncoro Oke, kalo gitu aku fokus `rojak-analyzer` mas

[2016-10-19 15:33] pyk opened #112 "[rojak-analyzer] Class Wrapper"
Jadi kemaren kita udah buat skeleton `rojak-analyzer` di [rojak.py](https://github.com/pyk/rojak/blob/master/rojak-analyzer/rojak.py)

Untuk mempermudah switch ke method selain fasttext, kita tinggal buat class wrappernya aja.

[2016-10-19 15:39] #112 closed, assigned to nobody

[2016-10-19 18:38] rawgni commented on #100
@pyk masih belum solve entirely.

misalnya contoh di atas:
`http://news.detik.com/berita/d-3302845/balada-kencan-singkat-ahok-heru`

kalau di tambah `?single=1` , juga tetap multipage.

untuk special case di atas perlu ditambah `index`
`http://m.detik.com/news/berita/d-3302845/balada-kencan-singkat-ahok-heru/index?single=1`

then extract nya:

[code]

Request satu2 result no. 6 , terus di concaten

[2016-10-20 16:05] bobbypriam commented on #106
Spesifikasi v0.2 sudah dibuat dan dapat [dilihat di sini](https://rawgit.com/bobbypriambodo/rojak/feature/rojak-api/spec-v0.2/rojak-api/spec/api-spec.html) (PR #115). Mohon reviewnya 🙇

[2016-10-22 04:54] pyk commented on #92
ini fixed by #105 yah

[2016-10-22 04:54] #92 closed, assigned to nobody

[2016-10-22 04:55] pyk commented on #106
mantap @bobbypriambodo 👍

[2016-10-22 04:58] bobbypriam commented on #106
#115 sudah merged, kalau tim UI ada request perubahan silakan buat issue baru aja ya. Sekarang kita akan coba bikin implementasinya.

[2016-10-22 04:58] #106 closed, assigned to nobody

[2016-10-22 15:28] kevinluvian commented on #39
aku bantu tempo nya ya @girikuncoro :smile:

[2016-10-22 15:41] bobbypriam opened #122 "[rojak-api] Ubah spec query params untuk embed, media_id, dan candidate_id menjadi array"
Spesifikasi untuk query params tersebut saat ini tidak standar. Proposal penggantian:
### `embed`

[code]
### `media_id` (also for `candidate_id`)

[code]

Revisi ini akan memudahkan implementasi dan cukup standar sehingga banyak disupport out of the box oleh library (misalnya Retrofit).

[2016-10-22 16:17] kevinluvian commented on #100
kalau mau, pakai api nya detik juga bisa :smile:

[code]

[code]

headernya

[code]

contoh response:

[code]

[2016-10-22 17:51] pyk commented on #39
Update:
Kita sekarang udah aktif memantau beberapa media ini setiap 30 menit nya:

[code]

Lumayan udah ada 10K clean data lebih sih:

[code]

Kalian juga bisa akses databasenya, credentialsnya ada di pinned items di channel #tim-data yah 🙇

Dari beberapa media tersebut kita udah belajar mastiin kalau data yang kita ambil valid dan tidak banyak noisenya. Kita bisa rangkum ini jadi beberapa poin pe

[2016-10-23 03:06] bobbypriam opened #123 "[rojak-api] Rojak API key (and security)"
Issue ini akan membahas mengenai pertimbangan-pertimbangan untuk pengamanan Rojak API. Seluruh anggota tim dan pengunjung kalau bisa silakan ikut berdiskusi di sini dan memberikan saran 🙇

Rojak API berfungsi sebagai interface dari Rojak Database. Operasi yang bisa dilakukan hanya membaca (`GET`). Rojak API diakses oleh publik melalui Rojak Client. Publik (idealnya) dapat membuat client sendiri ap

[2016-10-23 07:56] pyk commented on #123
Rate-limiting sama caching (meminimalisir db roundtrip) aku rasa udah pas untuk prevent DoS attack

[2016-10-23 07:56] pyk commented on #122
Fixed by #124

[2016-10-23 07:56] #122 closed, assigned to nobody

[2016-10-23 12:16] reinarduswindy commented on #123
Sebenarnya agak kurang ngerti masalah security, tpi seharusnya rate-limiting udh cukup sih utk ngatasin masalah di atas.

[2016-10-23 12:20] bobbypriam commented on #123
@pyk Rate-limit perlu diimplemen? Mengingat API key hanya akan membedakan jenis client yang digunakan (web, app, dsb.), kalau ada client yang kena rate limit berarti client tersebut ga akan bisa dipakai sama sekali... Kok kayaknya ga fleksibel ya?

[2016-10-23 12:23] pyk commented on #123
@bobbypriambodo rate-limit lebih untuk ke pemakaian yang wajar atau menghindari abuse (misalnya abuse 1K req/s)

Menurutku perlu sih mas, tapi prioritasnya lebih kecil (implement endpoint dulu)

[2016-10-23 12:47] bobbypriam commented on #123
@pyk I see, masuk akal sih, mungkin perlu diteliti lagi misalnya treshold batas wajarnya berapa (mungkinkah user reguler rojak bakal sampai 1K req/s? :smile:). Kalau anggota tim ada yang pernah pengalaman ngebuat sistem yang serupa mungkin bisa ikut diskusi di sini/slack hehe.

Selain DoS, ada lagi ga ya? Communication over HTTPS udah pasti lah ya.

[2016-10-23 12:48] rawgni commented on #100
@kevinluvian wah nice find bro. boleh di coba.

[2016-10-23 12:50] rawgni commented on #123
@bobbypriambodo kalo 1k req/s artinya at that one particular second 1000 user load web rojak? sepertinya highly achieveable.

[2016-10-23 13:00] bobbypriam commented on #123
@rawgni Iya, saya juga pikir begitu. Makanya kayaknya butuh profiling juga untuk ngeliat seberapa kuat APInya untuk ngehandle concurrent request dan itung-itungan kira-kira user rojak akan seintensif apa.

[2016-10-23 16:04] bobbypriam opened #126 "[rojak-api] Query untuk scoring sentiment"
Berdasarkan [skema data yang sudah ada](https://github.com/pyk/rojak/blob/master/rojak-database/rojak_schema_latest.sql), kita harus melakukan query untuk mendapatkan skor sentimen yang dibutuhkan.

Skor yang kita butuhkan:
- [ ] Given seorang kandidat, kita mau dapet overall sentimentnya
- [ ] Given seorang kandidat, kita mau dapet list media dan sentiment dari tiap media terhadap kandidat terseb

[2016-10-23 16:21] mychaelgo commented on #123
hm mungkin bisa pakai semacam free service seperti cloudflare? udah include DDOS preventing setau saya CMIIW :)

[2016-10-23 16:23] pyk commented on #123
@mychaelgo yup, `*.artificialintelligence.id` dah pake cloudflare kok. Untuk kasus ini rojak-api nanti bisa pakai `rojak-api.artificialintelligence.id`

[2016-10-23 16:24] mychaelgo commented on #123
@pyk  ok deh mas :)

[2016-10-23 19:55] pyk opened #128 "[rojak-analyzer] Sentiment Classification Approach"
## About

Follow up untuk #75 #96. Terimakasih untuk feedback dari teman-teman, semoga issue ini memperjelas dan membuat pemahaman kita menjadi sama.

Oke di issue ini akan lebih di jelaskan lagi tentang approach apa sih yang bisa kita gunain untuk membuat `rojak-analyzer` . Issue ini dibuat dengan asumsi pembaca sudah mempunyai pemahaman tentang dasar-dasar sentiment analysis (SA).

Kan ada beber

[2016-10-23 20:08] pyk opened #129 "[rojak-analyzer] Aspect/Feature based Sentiment Analysis Approach"
## About

Follow up untuk #75 #96. Terimakasih untuk feedback dari teman-teman, semoga issue ini memperjelas dan membuat pemahaman kita menjadi sama.

Oke di issue ini akan lebih di jelaskan lagi tentang approach apa sih yang bisa kita gunain untuk membuat `rojak-analyzer` . Issue ini dibuat dengan asumsi pembaca sudah mempunyai pemahaman tentang dasar-dasar sentiment analysis (SA).

Kan ada beber

[2016-10-24 07:39] #66 closed, assigned to nobody

[2016-10-25 04:31] bobbypriam opened #131 "[rojak-api] Enable searching for news article by URL"
Use case: given sebuah link artikel berita, kita ingin lihat bagaimana sentimen artikel tersebut pada rojak.

Sebagai MVP, kita ingin pencarian dilakukan secara exact match dan tidak ada fuzzy search. Tantangannya adalah satu berita bisa memiliki beberapa URL berbeda, terutama apabila terdapat query string yang tidak relevan dengan beritanya. Contohnya pada detik.com:

[code]

Terdapat query `_ga`

[2016-10-25 07:21] bobbypriam opened #133 "[rojak-api] Better UI untuk spesifikasi API"
Kita saat ini menggunakan library [`raml2html`](https://github.com/raml2html/raml2html) untuk rendering HTML dari file RAML. Template defaultnya ([yang bisa dilihat di sini](http://rawgit.com/pyk/rojak/master/rojak-api/spec/api-spec.html)) sebenernya "good enough", tapi interaksinya agak mengganggu (harus klik dan buka modal untuk bisa lihat contoh request dan response, dsb.).

Untungnya `raml2htm

[2016-10-25 17:35] girikuncoro commented on #128
wew paper yang pertama bikinan dosenku lillian lee :))

[2016-10-25 23:58] reinarduswindy commented on #133
@bobbypriambodo belum ada yang kerjain ini kan? sya yang kerjain aja boleh?

[2016-10-26 01:47] bobbypriam commented on #133
Belum ada mas @reinarduswindy, silakan! :smile: File yang berhubungan ada di direktori `/rojak-api/spec` ya. Kalau mau tanya-tanya silakan di issue ini atau slack hehe.

[2016-10-26 02:03] reinarduswindy commented on #133
oke mas @bobbypriambodo . :smile:

[2016-10-26 17:34] pyk commented on #100
@kevinluvian btw, itu responsenya juga belum full multipage lho. Cuman single page aja itu yg content di `data`

[2016-10-26 19:09] pyk commented on #131
@bobbypriambodo hmmm ini tantangan nya sih, satu berita punya lebih dari satu url yang berbeda.

Kalau mau melakukan preprocessing untuk input ke database (lewat `rojak-pantau`) atau lookup data (lewat `rojak-api`) ada beberapa catatan:
1. Normalisasi protocol: `http`/`https`. kadang ada media yg gak bisa diakses lewat `https` misal: https://kompas.com, jadi untuk amannya mungkin `http` aja karena

[2016-10-26 19:19] pyk commented on #129
Related:
- [UWB: Machine Learning Approach to Aspect-Based Sentiment Analysis](https://www.aclweb.org/anthology/S/S14/S14-2145.pdf)
- [SemEval-2016 Task 5: Aspect Based Sentiment Analysis](https://www.aclweb.org/anthology/S/S16/S16-1002.pdf)
- [NLANGP: Supervised Machine Learning System for Aspect Category
  Classification and Opinion Target Extraction](http://alt.qcri.org/semeval2015/cdrom/pdf/Se

[2016-10-26 19:37] pyk commented on #126
Untuk masalah sentimen dan skornya ini mungkin perlu sedikit klarifikasi sih:

Rojak menyimpan data ini:
1. Sentiment ke suatu kandidat (sentiment positif dan negatif)
2. Confident score dari rojak tentang sentiment itu (keyakinan rojak kalau berita itu bersentimen positif ke A misalnya)

catatannya: skor disini bukan menggambarkan seberapa negatif atau seberapa positif.

Terus untuk:

Maksutnya o

[2016-10-26 19:41] pyk opened #138 "[rojak-analyzer] Skor sentimen"
Regarding #126

Disini kita mau diskusikan tentang skor sentiment nya. Untuk `rojak-analyzer` sekarang skor yang kita dapet dari `rojak` itu seberapa yakin (confident score) saat dia nentuin sentiment nya.

Mungkin dari sisi user kita malah pangen tau sih: dari scale -5 ke 5, seberapa positif atau negatif sih berita ini?

Cara nentuin skornya gimana ya? apa simply kita pake bag-of-words untuk pola

[2016-10-26 19:42] pyk commented on #138
Kita juga bisa pake model regresi untuk ini sih, tapi ya gitu kita perlu data training haha

[2016-10-26 19:43] pyk commented on #126
Untuk fokus ke skor sentimen, dibahas di #138

[2016-10-27 02:01] rawgni commented on #100
@pyk seperti nya sih udah full multipage.

page 1 - di bagian data.
page 2, dst - di bagian images[n].description

[2016-10-27 03:10] rawgni commented on #131
@bobbypriambodo normally, link artikel yang dimaksud di dapat dari mana (dari site rojak atau dari site lain)?

Kalau dari site rojak, harusnya sih ga ada problem dengan non-matching artikel karena `url`nya di dapat dari `rojak-database`.

Kalo dari site lain, `artikel` nya harus exists di `rojak-database` atau nga ?
Kalau nga harus, apakah bisa langsung lewat `rojak-analyzer` saja ?

Thoughts?

[2016-10-27 03:11] kevinluvian commented on #100
iya betul di bagian images description.
saya blm coba untuk artikel lain yang multiple page sih, punya link artikel detik yang multi page lain ga @rawgni @pyk ?

[2016-10-27 03:20] rawgni commented on #100
@kevinluvian coba `http://news.detik.com/berita/3330437/kehebohan-di-sidang-jessica-roy-suryo-diusir-hingga-kontroversi-sel-mewah`

[2016-10-27 03:37] bobbypriam commented on #131
@pyk Konsepnya cukup reasonable sih dengan ekstrak host dan unique identifier. Tapi concern saya adalah perbedaan struktur url tiap-tiap media, khususnya misalnya untuk kasus yang nomor 3 (beda host beda path), kalau itu beda juga antara satu media dengan media yang lain, timbul masalah di implementasinya.

Edit: CMIIW, saya nangkepnya berarti preprocessing dilakukan baik oleh `rojak-pantau` ketik

[2016-10-27 03:53] rawgni commented on #131
@bobbypriambodo oh ok. got it :)

[2016-10-27 03:54] bobbypriam commented on #126
Ah, I see, berarti saya agak salah nangkep maksud dari `score` itu apa. Saya selama ini asumsi (_should have known better, sorry_) `score` sentiment dari suatu berita melambangkan berita itu "n% condong ke kandidat A". Kalau dengan reply @pyk tadi, berarti `score` itu adalah "seberapa besar keyakinan `rojak-analyzer` bahwa berita tersebut condong ke kandidat A" ya?

I have a feeling kalo beberapa

[2016-10-27 04:03] kevinluvian commented on #100
kelihatannya selain page 1, sisa pagenya ada di description image sih

[code]

[2016-10-27 04:13] pyk commented on #126
@bobbypriambodo yup bener, cukup dengan counting. Bisa juga percentage, misal
overall sentiment positif kandidat A di media X:

[code]

[2016-10-27 04:26] bobbypriam commented on #126
@pyk :+1: Oke, kayaknya dari endpoint sendiri ga perlu ada yang berubah sih kalau gitu. Saya ikutin thread #138 dulu aja deh.

[2016-10-27 07:15] girikuncoro commented on #138
@pyk hmm kalo dari sisi user (bukan ngitung scoringnya) sih menurutku -5 sampe +5 terlalu besar range nya. Reasoningnya:
Sebagai contoh, Amazon review menggunakan 5 stars (1 sampai 5) karena 5 secara natural cukup mudah dicerna: 1 sangat jelek, 2 jelek, 3 cukup, 4 baik, 5 sangat baik. Begitu pula Yelp review, Google review 5 stars dengan alasan yang sama. Dan juga kalau survey-survey atau tes psik

[2016-10-27 07:17] girikuncoro commented on #138
Ini ada yang menarik juga: http://stackoverflow.com/questions/33543446/what-is-the-formula-of-sentiment-calculation

Papernya: Scaling Policy Preferences from Coded Political Texts http://www.kenbenoit.net/pdfs/Loweetal_2010_LSQ.pdf

[2016-10-27 09:41] pyk commented on #138
@girikuncoro yup bener mas, mungkin contoh skala `-5 ke 5` terlalu besar haha

Setuju 🙇

[2016-10-28 00:30] reinarduswindy commented on #133
Dokumentasi API nya sya menggunakan ApiDoc. Menurut sya lebih nyaman dilihat aja sih kalau pakai ini.  Minta pendapatnya mas @bobbypriambodo @pyk
Apa yang harus ditambahkan lagi atau ada yang perlu diganti? 😄

UI barunya jadi sprti ini [https://rawgit.com/reinarduswindy/rojak/master/rojak-api/spec/public/apidoc/index.html](url)

[2016-10-28 01:05] pyk commented on #133
@reinarduswindy looks good! 👍

[2016-10-28 01:19] pyk opened #142 "Rojak Deployments"
Team, disini kita diskusikan tentang deployment nya Rojak ya

Yang pertama untuk DNS nya kita bisa pake:
- https://rojak.artificialintelligence.id untuk `rojak-ui-web`
- https://rojak-api.artificialintelligence.id untuk `rojak-api`
- https://rojak-database.artificialintelligence.id untuk `rojak-database`

Btw karena ada promo domain `.id`, apa aku perlu purchase `rojak.id` ya? 😄

Terus untuk infra

[2016-10-28 01:29] mychaelgo commented on #142
Tim apps: untuk sharing apps bisa menggunakan hockeyapps atau beta dari fabric? (saya lebih prefer fabric karena udah lengkap dgn analytics dan crash reporting)
Atau yang lain ada usul? :)

[2016-10-28 01:31] haydarai commented on #142
Sharing app itu maksudnya buat beta test ya? Kalau dari Google Play sendiri ada fitur buat alpha/beta test
https://support.google.com/googleplay/android-developer/answer/3131213?hl=en

Untuk akun Google Playnya nanti pakai apa?

[2016-10-28 01:32] mychaelgo commented on #142
@haydarai  iy harusnya yang dimaksud adalah sharing app buat beta test

[2016-10-28 01:32] bobbypriam commented on #133
@reinarduswindy Bagus! Overall saya suka presentasinya, semua ada di satu tempat dan navigasinya gampang. Ada beberapa pertanyaan sih:
1. Navigasi di kiri urutannya bisa kita tentuin ga ya?
2. Saya barusan ngeliat kodenya, `apiDoc` pakai bahasanya langsung ya (di kasus ini mas @reinarduswindy pakai JS). Di sini kita jadi punya dua source of truth, file raml dan file example-nya. Kayaknya mending s

[2016-10-28 01:42] haydarai commented on #142
@mychaelgo Ngikut aja deh kayaknya, selama ini baik analytics, crash reporting, maupun sharing app biasanya pake solusi dari Google Play. Kalau ada yang pernah pake yang lain dan ternyata lebih enak ya boleh juga

[2016-10-28 01:52] bobbypriam commented on #142
+1 `rojak.id`, lebih gampang diketik 😄

Untuk `rojak-api`, dari requirement kita harusnya butuh sebuah server yang udah diinstall Docker Engine.

Untuk spec minimum, saya ingin percaya bahwa API saat ini bisa berjalan lancar di Droplet DO yang $5, but I don't want to be overconfident 😅 . Intinya komponen dari API cuma sebuah docker image berisi aplikasi Phoenix yang komunikasi dengan `rojak-databa

[2016-10-28 02:09] pyk commented on #142
https://rojak.id purchased 👌 , tinggal mengurus dokumen ktp dkk hehe

Jadi untuk DNS kita bisa pake:
- https://rojak.id untuk rojak-ui-web
- https://api.rojak.id untuk rojak-api
- https://db.rojak.id untuk rojak-database

@haydarai Wah kalo akun google play aku pribadi belum punya mas, kira2 disini ada yg bersedia upload di gogle playnya gak ya? Kalo pake selain google play juga boleh sih mas

@bo

[2016-10-28 02:19] reinarduswindy commented on #133
Oke mas @bobbypriambodo .
Sya coba jawab pertanyaannya.
1. Navigasi di kiri syangnya saya belum temuin cara untuk atur urutannya sesuai dengan yang kita mau. Saya baca" dokumentasinya di [http://apidocjs.com/](url), untuk fungsi ordernya memang blm disediakan. CMIIW :sweat_smile:
2. Seharusnya sih harus pakai Elixir mas @bobbypriambodo . Nanti sya coba benarin. Untuk file RAML sya hapus aja berart

[2016-10-28 02:35] girikuncoro commented on #142
btw ini ga ada operational cost sama sekali ya? kalo ada yang perlu patungan ane siap menyumbang

[2016-10-28 02:51] girikuncoro commented on #7
aku mulei kerjain ini hari sabtu ya

[2016-10-28 03:03] pyk commented on #142
@girikuncoro untuk operational costnya, luckily, yg untuk tim data masih muat di satu mesin 1GB mas haha. `rojak-pantau` sama `rojak-analyzer` jalannya cuma periodically. (`rojak-analyzer` belum di prod btw)

Untuk sekarang infra kita:

<img width="1034" alt="screen_shot_2016-10-28_at_9_52_38_am" src="https://cloud.githubusercontent.com/assets/2213646/19793012/a1640c06-9cf4-11e6-90a6-50363d132780.

[2016-10-28 04:25] rawgni commented on #142
@pyk kalau rojak-pantau kan ga jalan 24 jam, gimana kalo dipindah ke heroku atau free service lain nya. basically scrape, process then store in db (db nya tetap di rojak.id).

[2016-10-28 04:30] pyk commented on #142
@rawgni ide bagus mas, jadi kita tinggal trigger gitu ya endpoint nya?

misal:

[code]

dia langsung run `spider` detikcom?

[2016-10-28 04:42] rawgni commented on #142
@pyk mungkin dengan cron atau [scheduler](https://devcenter.heroku.com/articles/scheduler) ?

seberapa besar resource yg dibutuhkan `rojak-pantau` (mem atau cpu cycle)?

[2016-10-28 06:05] bobbypriam commented on #126
Saya sedang mengimplementasi embedding sentiment di mentions pada news. Sudah bekerja, tapi querynya agak lama ya (~200ms). Berikut hasil tesnya:

[code]

Summary:
1. Query list of news dengan mention memakan waktu **209ms** dengan **207.1ms** dihabiskan di query, dibandingkan dengan list tanpa mention memakan waktu hanya **2ms** dengan waktu query **1.1ms**
2. Query untuk sebuah news berdasarkan

[2016-10-28 06:34] girikuncoro commented on #142
cuma kalo heroku free dyno itu bukannya sleep tiap 6 jam ya? ah tapi kalo ga perlu real time2 amat ga masalah

[2016-10-28 07:27] bobbypriam commented on #133
Untuk manual ordering dia ada optionnya kok ditaruh di `apidoc.json`: http://apidocjs.com/#configuration-settings (ada key `order`)

Untuk yang ubah JS jadi Elixir ga priority sih. Cuma kalau bisa lebih bagus 🙂

Btw sebenernya apiDoc ini idealnya naro komennya inline di source codenya ya. Agak aneh ga sih kalau jadi file terpisah isinya comment aja? Kalau commentnya udah dalam bentuk comment Elixi

[2016-10-28 12:17] pyk commented on #142
@rawgni wah ide bagus mas 👍

oh ya untuk API nya udah di deploy ya:
- Rojak API https://api.rojak.id/

Tinggal nunggu temen2 FE ini gimana ya deploynya? untuk sementara ini https://rojak.id aku point ke repo ini

[2016-10-28 14:22] pyk opened #145 "[rojak-analyzer] Kekurangan berita bersentimen negatif untuk beberapa kandidat"
Untuk mencari berita sentimen negatif dari kandidat selain `ahok` dan `agus` rada susah ya. Kira2 kalian nemu gak media yang bersentimen negatif ke `anies` dll?

Datanya kita perluin untuk training, biar balance datanya hehe

[2016-10-29 02:34] #39 closed, assigned to nobody

[2016-10-29 04:29] pyk opened #146 "[rojak-database] Lengkapi data pasangan cagub-cawagub"
Kalau kita lihat disini https://api.rojak.id/v1/pairings

Ada beberapa data yg masih kurang lengkap, contoh nya website dari pasangan anies-sandi.

Kalian bisa nambahin datanya lewat disini untuk data yg kurang https://github.com/pyk/rojak/blob/master/rojak-database/data_pasangan_cagub_cawagub.json

Feel free to send PR! 🙇

[2016-10-29 13:38] pyk opened #149 "[rojak-pantau] Pantau www.wowkeren.com"
Baru aja nemuin media ini ketika cari sample berita negatif. Dari list beritanya banyak banget yg negatif ke kandidat `agus` dan `anies` tapi positif sekali ke `ahok`

[code]

tantangannya: dia gak punya semacam tag fokus ke pilkada/kandidat gitu yang bisa kita pantau terus.

Tag yang paling relevan sih: http://www.wowkeren.com/berita/nasional/

[2016-10-29 14:39] pyk opened #150 "[rojak-pantau] Pantau tirto.id"
Ada beberapa topik yang bisa kita pantau dari media ini:
- https://tirto.id/q/pilkada-dki-jakarta-k6
- https://tirto.id/q/pilkada-dki-jakarta-2017-cmJ
- https://tirto.id/q/pilkada-dki-pw
- https://tirto.id/q/pemilihan-gubernur-dki-jakarta-n4

Catatannya:

Untuk `raw_content` kita harus remove noise berita terkait yang ada di artikelnya misal:

[code]

Solusi paling naive mungkin kita ambil nama re

[2016-10-29 14:49] rawgni opened #151 "[rojak-pantau] Pantau arah.com"
http://pilkada.arah.com/berita
http://pilkada.arah.com/sosmed
http://pilkada.arah.com/pendukung/detail/provinsi/DKI%20JAKARTA
http://www.arah.com/tags/19997/Anies-Baswedan.html

Bagaimana dengan site ini ? @pyk

[2016-10-29 14:51] pyk commented on #151
Looks good mas 👌

[2016-10-29 15:50] rawgni commented on #146
untuk anies sandi, yang ini bukan ? @pyk
![dp bbm maju bersama anies sandi 2](https://cloud.githubusercontent.com/assets/11707733/19830992/edde0632-9e29-11e6-9fc3-68f79bfc2f9c.jpg)

http://jakartamajubersama.com/
https://www.instagram.com/gubernurdki2017/

[2016-10-29 16:45] pyk commented on #133
fixed by #147 yah

[2016-10-29 16:45] #133 closed, assigned to nobody

[2016-10-29 23:33] girikuncoro commented on #146
Ini instagramnya agus sylvi: https://www.instagram.com/agus.sylvi/

@rawgni lengkap tuh anies sandi twitter sama fb page nya juga:
https://www.facebook.com/jakartamajubersama
https://twitter.com/jktmajubersama

btw kayanya perlu tambah link youtube juga ya di field?
https://www.youtube.com/channel/UCBokEPnuBE1dW5B991CLwEA

[2016-10-29 23:59] girikuncoro commented on #145
Ini hallojakarta.com rata2 anti ahok beritanya: http://hallojakarta.com/category/news/politik

update:
oh salah baca rupanya berita negatif ke anies ya

[2016-10-30 00:04] girikuncoro opened #153 "[rojak-pantau] Pantau republika.co.id"
http://www.republika.co.id/indeks/hot_topic/pilgub_dki

[2016-10-30 00:36] girikuncoro commented on #7
@pyk belum bisa rupanya, depends on `http://api.rojak.id/v1/news?embed[]=mentions` sama `http://api.rojak.id/v1/media/1/sentiments` sepertinya

[2016-10-30 01:36] pyk commented on #146
Wah bener juga mas, kalo lengkap semua boleh sih. Pas dulu aku cari yang udah punya ahok sama anies aja

[2016-10-30 01:37] pyk commented on #146
btw fixed by #152 🙇

[2016-10-30 01:38] pyk commented on #145
@girikuncoro iya mas, kalo ahok memang udah banyak yg berita `negatif` nya. Gak tau kenapa 😓 haha

[2016-10-30 01:41] pyk opened #154 "[rojak-pantau] Pantau Hallo Jakarta"
Ada beberapa topik yang bisa kita pantau dari media ini:
- http://hallojakarta.com/category/news/politik

Untuk media ini `raw_content` lumayan bersih, kita tinggal get class ini aja `the-content post-content clearfix`

[2016-10-30 02:11] #146 closed, assigned to nobody

[2016-10-30 05:46] bobbypriam opened #157 "Redundansi data "mention""
Pada skema data, terdapat relasi `mention` antara `news` dan `candidate`, sementara informasi mentioned candidate sebenernya bisa didapat dari `news_sentiment join sentiment join candidate`. Itu ada bedanya ga ya?

Saya ketemu masalah ketika implemen API, saya ngegunain keduanya (`mention` untuk filter berdasarkan `candidate_id` dan via `news_sentiment` untuk ngambil sentimentnya), terus hasilnya

[2016-10-30 14:14] pyk commented on #157
Oh, mention sama news_sentiment itu gak harus sync mas.

Karena satu berita bisa mention beberapa calon, tapi sentiment nya cuma untuk satu/dua calon saja.

Untuk kasus masnya itu dia di mention di berita, tapi emang sentiment beritanya bukan untuk dia

[2016-10-30 14:21] bobbypriam commented on #157
Jadi emang itu intended behavior?

Berarti pada sebuah news, data `mention` dan `sentiment` itu dua entitas berbeda ya? Spesifikasi API harus diubah kalau gitu ya, saat ini efektif field embed `mentions` di `/news` dan `/news/:id` itu ngedapetin kandidat-kandidat yang ada sentimentnya, bisa aja ada kandidat yang dimention tapi ga ke-include soalnya kita ga ngequery table `mention`.

Tapi berarti k

[2016-10-30 14:32] pyk commented on #157
Yup mas

Iya mas, makanya kita bikin pisah table nya hehe

Yup bener mas

[2016-10-30 14:36] bobbypriam commented on #157
I see, thanks.

Ada ide ga ya untuk improve endpoint `/news` supaya bisa incorporate hal ini? Informasi tambahan apa (selain detail news-nya sendiri) yang idealnya harus ditampilkan ketika kita ngequery `/news` dan `/news/1`?

[2016-10-30 14:41] pyk commented on #157
Dari data yg kita simpan sekarang, dari satu object `news` kita bisa nampilin informasi ini mas:
- Detail news nya sendiri
- Sentiment news nya
- Mention siapa aja

Untuk kedepannya mungkin kita bisa buat meta-tag untuk setiap news nya, misal ketika dia mention `agus` kita kasih tag `#AgusYudhoyono` etc. Jadi kita juga bisa retrieve list of news nya via tag juga.

meta-tag disini bukan hanya nama

[2016-10-30 16:50] pyk opened #158 "[rojak-pantau] Trailing whitespace di title BeritaSatu"
Waktu run `rojak-analyzer` kebetulan dapet berita dari `beritasatu`:

[code]

beritanya: http://m.beritasatu.com/aktualitas/392919-sylviana-bermain-peran-dalam-operet-di-tmii.html

Dari situ nemu kalau ternyata data title yg kita simpan dari berita di media tersebut ada trailing whitespacenya. Mungkin kita perlu `.strip()` dulu kali ya

feel free to send PR 🙇

[2016-10-31 02:00] pyk opened #161 "[rojak-ui-web] Build failed"
Step by step:

[code]

error message:

[code]

[2016-10-31 02:06] #158 closed, assigned to nobody

[2016-10-31 16:46] pyk opened #163 "[rojak-pantau] Pantau bacakabar.com"
Nemu media ini dari group fanatik ke ahok di Facebook https://www.facebook.com/groups/1963940990498337/

beberapa topik yang bisa kita pantau:

* http://www.bacakabar.com/topik/ahok
* http://www.bacakabar.com/topik/anies-baswedan

Mungkin ada topik lain, belum investigasi lebih lanjut.

Btw dari sini dapet insight sih, kebanyakan mereka nyebarin berita2 gini ke group fanatik masing2 pasangan yang

[2016-11-01 02:43] pyk commented on #1
Ini kita close ya, udah reach milestone `Rojak v1.0.0`. next step, kita akan diskusi tentang `Rojak v2.0.0`, mostly penyempurnaan aja.

[2016-11-01 02:43] #1 closed, assigned to nobody

[2016-11-01 02:44] pyk commented on #3
Ini kita close ya, udah reach milestone `Rojak v1.0.0`. next step, kita akan diskusi tentang `Rojak v2.0.0`, mostly penyempurnaan aja.

[2016-11-01 02:44] #3 closed, assigned to nobody

[2016-11-01 02:44] pyk commented on #4
Ini kita close ya, udah reach milestone `Rojak v1.0.0`. next step, kita akan diskusi tentang `Rojak v2.0.0`, mostly penyempurnaan aja.

[2016-11-01 02:44] #4 closed, assigned to nobody

[2016-11-01 02:44] pyk commented on #5
Ini kita close ya, udah reach milestone `Rojak v1.0.0`. next step, kita akan diskusi tentang `Rojak v2.0.0`, mostly penyempurnaan aja.

[2016-11-01 02:44] #5 closed, assigned to nobody

[2016-11-01 02:44] pyk commented on #6
Ini kita close ya, udah reach milestone `Rojak v1.0.0`. next step, kita akan diskusi tentang `Rojak v2.0.0`, mostly penyempurnaan aja.

[2016-11-01 02:44] #6 closed, assigned to nobody

[2016-11-01 02:45] pyk commented on #7
Ini kita close ya, udah reach milestone `Rojak v1.0.0`. next step, kita akan diskusi tentang `Rojak v2.0.0`, mostly penyempurnaan aja.

@girikuncoro nanti kita diskusikan di`Rojak v2.0.0` ya mas

[2016-11-01 02:45] #7 closed, assigned to nobody

[2016-11-01 02:47] pyk commented on #142
Ini kita close ya, udah reach milestone `Rojak v1.0.0`. next step, kita akan diskusi tentang `Rojak v2.0.0`, mostly penyempurnaan aja.

[2016-11-01 02:47] #142 closed, assigned to nobody

[2016-11-01 02:50] pyk commented on #100
Ini kita close ya, udah reach milestone `Rojak v1.0.0`. next step, kita akan diskusi tentang `Rojak v2.0.0`, mostly penyempurnaan aja.

[2016-11-01 02:50] #100 closed, assigned to nobody

[2016-11-01 03:30] haydarai opened #165 "[rojak-ui-app] User Story / User Guideline Discussion for Rojak App"
Karena UI Guideline untuk App belum ada, sepertinya sudah saatnya mendiskusikan mengenai User Story dan UI Guideline untuk App. Mungkin mas @pyk bisa sedikit ngebrief kira-kira feature requirement buat user ketika memakai app Rojak apa saja.

[2016-11-01 03:39] bobbypriam opened #166 "[rojak-api] [bug] Embedding join leads to no result"
Using `join` (translated to SQL `INNER JOIN`) leads to empty results on embedding stuff when the joined table is empty (kayak sekarang table `mention` dan `news_sentiment` masih kosong). Harus diganti jadi `left_join` supaya lebih fleksibel hasilnya.

[2016-11-01 03:45] rawgni commented on #161
hm.. hash nya beda.

[code]

`master` commit `69c8b8673d7f78d73098ed9780b0d148e7058bf3`
`node 4.5.0`

[2016-11-02 04:33] pyk commented on #166
fixed by #167

[2016-11-02 04:33] #166 closed, assigned to nobody

[2016-11-02 04:44] pyk commented on #165
@haydarai kalau feature requirement, yg pasti kita cuma read-only mas (gak ada login/submit etc), cuma nampilin hasil dari Rojak gitu.

Nah beberapa waktu yg lalu ada diskusi tentang visualisasi hasil analisa di [#rojak-ui-web](https://rojakteam.slack.com/archives/rojak-ui-web/p1477452906000004) dari @CodeRiderz dan @girikuncoro. Mostly semacam visualiasi trend gitu mas.

Dari temen2 apps sendiri

[2016-11-02 05:30] rawgni commented on #150
@pyk untuk artikel yang tidak ada tanggal nya gimana yah ?
contoh: https://tirto.id/anies-baswedan-akhirnya-benar-benar-turun-gunung-bYWa

[2016-11-02 05:37] pyk opened #169 "[rojak-pantau] Pantau qureta.com"
Nemu media ini dari feed facebook, topik yang bisa kita pantau:

* http://www.qureta.com/topik/politik

Kalau di lihat dari beberapa artikelnya:

* Ahok Pasti Kalah http://www.qureta.com/post/ahok-pasti-kalah
* Ahok, Kau Mundur Saja! http://www.qureta.com/post/ahok-kau-mundur-saja

😂

[2016-11-02 05:39] pyk commented on #150
@rawgni kalau gak ada tanggalnya skip aja mas (otomatis udah ke drop kalau gagal ambil `date` selector)

[2016-11-02 13:03] esafirm commented on #165
@pyk konten yang ditampilin di app bakal sama kaya yang web?

@haydarai Kayanya banyak chart nih, harus cari2 library untuk chart.

[2016-11-02 13:31] pyk commented on #165
@esafirm kalau itu terserah temen2 mas enaknya gimana 🙇

[2016-11-02 19:02] #154 closed, assigned to nobody

[2016-11-03 04:04] #150 closed, assigned to nobody

[2016-11-03 04:09] #153 closed, assigned to nobody

[2016-11-03 04:10] pyk commented on #161
@rawgni kata @rromadhoni ini gara2 case di `./react` di `App.js` mas, karena seharusnya casenya besar (file `React.js`)

[2016-11-03 04:10] #161 closed, assigned to nobody

[2016-11-03 10:14] pyk opened #174 "[rojak-pantau] Pantau NUSANEWS.com"
Nemu media ini dari facebook feed (duh makin banyak berita2 panas pilkada haha 😂 )

Topik yang bisa kita pantau dari media ini:

* http://www.nusanews.com/search/label/Pilkada

Feel free to send PR 🙇

[2016-11-03 10:29] rawgni commented on #174
ketemu ini bro :( `http://internetpositif.uzone.id/page.block`

[2016-11-03 10:53] pyk commented on #128
# Update 03/11/16

Untuk sentiment classification, kita pake baseline SVM dan untuk handle multiclass nya kita pake strategi One-Vs-Rest. Ini sudah di implementasi di #164.

## Label data

Untuk datanya, di awal kita memakai label perorangan:

[code]

Berdasarkan hasil diskusi di [#tim-data](https://rojakteam.slack.com/archives/tim-data/p1477982208000098) kita menstransform label ini ke pasangan:

[2016-11-03 10:57] pyk opened #175 "[rojak-database] Perubahan schema sentiment"
Kita akan merubah skema sentiment kita. Sebelumnya `candidate_id` sekarang jadi `candidate_pair_id`, karena sentiment nya toward ke pasangan bukan perorangan.

Diskusinya bisa diliat di https://github.com/pyk/rojak/issues/128#issuecomment-258112292 atau di [#tim-data](https://rojakteam.slack.com/archives/tim-data/p1477982208000098)

Untuk daftar sentiment yang kita pakai:

[code]

[2016-11-03 10:58] pyk commented on #175
I will tackle this tomorrow

[2016-11-03 10:59] pyk commented on #174
@rawgni woah, ISP apa mas? aku pake `smartfr*n` bisa di akses kok

[2016-11-03 11:34] bobbypriam commented on #175
Berarti dengan ini kita ga bisa query sentimen terhadap satu orang aja ya? Apa mending endpoint `/candidates*?embed[]=sentiments` dan `/candidates/1/media-sentiments` dihapus aja?

[2016-11-03 11:44] bobbypriam commented on #157
Oke berarti ini kayaknya udah solve ya? Intinya dua data itu emang beda dan ga ada redundant :+1:

[2016-11-03 11:44] #157 closed, assigned to nobody

[2016-11-03 12:03] rawgni commented on #174
@pyk `indih*me` mas

[2016-11-03 13:56] rawgni commented on #128
:pray:

[2016-11-03 15:16] pyk commented on #174
@rawgni dia di blokir ternyata gara2 ada Demo itu mas http://teknologi.news.viva.co.id/news/read/843161-demo-4-november-bin-dan-polri-minta-11-situs-ini-diblokir 😱

[2016-11-05 04:26] bobbypriam commented on #165
@esafirm @haydarai Mau nambahin, sebenernya ini kayak open data API aja... Inti dari Rojak adalah sentiment analysis dari suatu artikel terhadap pasangan cagub-cawagub. Rojak ngeekspos data tersebut melalui `rojak-api`. Data yang tersedia ada di [schema data](https://github.com/pyk/rojak/blob/master/rojak-database/rojak_schema_latest.sql) dan endpoint API yang disediakan ada di [api.rojak.id](http

[2016-11-05 04:46] pyk commented on #165
@bobbypriambodo yup bener sekali 👍

[2016-11-05 16:53] #149 closed, assigned to nobody

[2016-11-06 09:04] bobbypriam commented on #179
Masih dapet multiple `Something went wrong: (1054, "Unknown column 'candidate_id' in 'field list'")` error di `python generate_news_data.py` mas 😅

[2016-11-06 09:17] pyk commented on #175
@bobbypriambodo iya mas

Btw ini fixed by #178 yah, di prod udah di upgrade juga ke `v0.5` 🙇

[2016-11-06 09:17] #175 closed, assigned to nobody

[2016-11-06 09:29] #179 closed, assigned to nobody

[2016-11-06 09:47] bobbypriam opened #179 "[rojak-database] [bug] Error on populate dummy data (Schema v0.5)"
Reproduce:

[code]

[2016-11-06 09:48] pyk commented on #179
oops, forgot to update the dummy data generator

[2016-11-06 09:53] bobbypriam opened #180 "[rojak-api] Revisi spesifikasi API berdasarkan schema data v0.5"
Panduan: [`rojak_schema_latest.sql`](https://github.com/pyk/rojak/blob/master/rojak-database/rojak_schema_latest.sql).

Perubahan paling utama yaitu pemindahan asosiasi `news_sentiment` dari sebelumnya `news-candidate` menjadi `news-pair_of_candidates`.

Deliverable: spesifikasi API v0.3.

[2016-11-06 09:59] pyk commented on #179
@bobbypriambodo For now you can use this:

[code]

[2016-11-06 20:30] pyk commented on #128
Ini udah jalan di prod ya, untuk datanya bisa dilihat di table `news_sentiment`. Contohnya:

[code]

Result:

[code]

🙇

[2016-11-06 22:07] pyk opened #184 ""Rojak for Developer" Release"
![rojak - developer title](https://cloud.githubusercontent.com/assets/2213646/20041776/f089329e-a4a0-11e6-853a-88ec60d4bace.png)

Team, gak kerasa kita udah melewati milestone Rojak v1.0 #1 bareng2 🙌 🙇

Oke, disini akan kita review. Sudah sampai mana sih kita sekarang dan apa yang bisa kita lakukan kedepannya, feel free untuk sampaikan komentar kalian di issue ini.

Bagi yang belum join slack tim

[2016-11-06 22:11] pyk commented on #19
@girikuncoro semi-manual keknya udah cukup mas, train->predict->koreksi->train gitu hehe

Guys, data labelling terbaru udah ada di channel #tim-data ya. Ini aku close dulu 🙇

[2016-11-06 22:11] #19 closed, assigned to nobody

[2016-11-06 22:13] pyk commented on #75
@kevinluvian yup bener mas,

btw ini udah fix ya, #128

[2016-11-06 22:13] #75 closed, assigned to nobody

[2016-11-06 22:16] pyk commented on #138
Update: Untuk sekarang ini kita ada score `confident_score_raw` dan `confident_score_scaled`. Intinya untuk Rojak seberapa yakin dia kalau berita tersebut memiliki sentiment yg di prediksi.

Untuk score seberapa positif dan negatif kita belum ada

[2016-11-07 01:13] bobbypriam commented on #180
Okay, ini draft yang kita ajukan untuk v0.3.

## Summary

Beberapa notable changes termasuk:
1. Kita menghilangkan kapabilitas mendapatkan sentimen dari `candidate`.
2. Endpoint `/pairings/{id}/media-sentiments` kita hilangkan dan menjadikannya embeddable field pada resource `pairings` dengan nama `sentimentsByMedia`. Endpoint `/media/{id}/sentiments` juga di-merge jadi embeddable field pada resou

[2016-11-08 14:39] bobbypriam commented on #180
## Update

Dari spesifikasi di atas, ada beberapa perubahan:
1. Pada trait `searchable` dari `news`, tadinya kita berniat menambahkan field untuk pencarian berdasarkan `pairing_id` dan `url`. Pencarian dengan `pairing_id` agak redundan dengan `candidate_id`, karena detail kandidat bisa di-`embed` pada `pairing`, maka kita hilangkan. Untuk `url` juga sepertinya masih belum bisa disupport saat ini (

[2016-11-12 12:36] pyk opened #188 "[rojak-api] Beberapa improvement"
Beberapa movement yang bisa kita tambahin di API sekarang:

Kita bisa nambahin `sort_by` dan `sort_order` ke https://api.rojak.id/v1/news

`sort_by` bisa punya value `published_at`, `indexed_at` dll
`sort_order` bisa punya value `asc` atau `desc`

Terus untuk keperluan report kita perlu API yg take input range tanggal terus return agregasi sentiment. Kita bisa gunain endpoint pairings untuk ini. M

[2016-11-19 18:29] #151 closed, assigned to nobody

[2016-11-20 05:48] #169 closed, assigned to nobody

[2016-11-20 05:53] #174 closed, assigned to nobody

[2016-12-19 11:37] pyk opened #197 "Rojak Status: No Longer on Production"
Hello semua, komponen `api`, `pantau` sama `analyzer` nya gak lagi di prod yah. Maaf sebelumnya karena belum bisa alokasi budget lagi 🙇

[2016-12-24 13:20] haydarai commented on #197
Kalau pake akun baru masalah nggak? Aku ada voucher Digital Ocean $20 nih bisa dipake, cuma harus akun baru

[2016-12-26 14:37] pyk commented on #197
@haydarai wah boleh2 mas, tinggal run aja mas 👍
Hmm tapi harus setup DB dll dari awal

[2016-12-27 02:46] haydarai commented on #197
iya drawbacknya itu, kalau mau nanti aku kasih vouchernya